<mat-card class="table">
  <mat-card-title class="table__title">Configuration Templates</mat-card-title>
  <div class="table__nav">
    <div class="table__nav--actions">
      <ng-template [ngxPermissionsOnly]="['can_write on Libraries']">
        <button mat-button mat-mini-fab color="primary" matTooltip="Add New Config Template" (click)="addConfigTemplate()">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-button mat-mini-fab color="primary" matTooltip="Edit" (click)="updateConfigTemplate()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button mat-mini-fab color="primary" matTooltip="Delete" (click)="deleteConfigTemplate()">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-button mat-mini-fab color="primary" matTooltip="Add Route" (click)="addRouter()">
          <mat-icon>router</mat-icon>
        </button>
        <button mat-button mat-mini-fab color="primary" matTooltip="Add Firewall Rule" (click)="addFirewallRule()">
          <mat-icon>security</mat-icon>
        </button>
        <button mat-button mat-mini-fab color="primary" matTooltip="Add Domain Membership" (click)="openDomainMembership()">
          <mat-icon>domain</mat-icon>
        </button>
        <button mat-button mat-mini-fab color="primary" matTooltip="Add Roles & Service" (click)="openRoleService()">
          <mat-icon>settings_system_daydream</mat-icon>
        </button>
      </ng-template>
      <button mat-button mat-mini-fab color="primary" matTooltip="Export as JSON" (click)="exportJson()">
        <mat-icon svgIcon="export-json"></mat-icon>
      </button>
    </div>
    <div class="table__nav--search">
      <input
        matInput
        type="search"
        [(ngModel)]="quickFilterValue"
        placeholder="Search..."
        (input)="onQuickFilterInput($event)"
      >
    </div>
  </div>
  <mat-card-content class="table__content">
    <ag-grid-angular
      class="ag-theme-alpine"
      [pagination]="true"
      [paginationPageSize]="25"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="rowData$ | async"
      [rowSelection]="'multiple'"
      [suppressRowClickSelection]="true"
      [animateRows]="true"
      (gridReady)="onGridReady($event)"
      (rowSelected)="selectedRows()"
      (rowDoubleClicked)="onRowDoubleClick($event)"
    >
    </ag-grid-angular>
  </mat-card-content>
</mat-card>
