<div class="btn-actions-group">
 <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Delete" (click)="delete()">
    <mat-icon>delete_forever</mat-icon>
  </button>
 <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Rerun" (click)="rerun()">
    <mat-icon>replay</mat-icon>
  </button>
 <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Revoke" (click)="revoke()">
    <mat-icon>cancel</mat-icon>
  </button>
  <button mat-button mat-mini-fab class="btn-refresh" color="primary" matTooltip="Refresh table" (click)="refreshTask()">
    <mat-icon>autorenew</mat-icon>
  </button>
</div>

<div class="ag-theme-alpine info-panel-task" [style.height]="gridHeight">
  <ag-grid-angular style="width: 100%; height: 100%;" [gridOptions]="gridOptions" (gridReady)="onGridReady($event)"
    [rowData]="rowData$ | async" (rowSelected)="selectedRows()">
  </ag-grid-angular>
</div>
