<form [formGroup]="showUserTaskForm">
  <h1 mat-dialog-title class="show-user-task-title">Show User Task</h1>
  <mat-dialog-content>
    <mat-tab-group>
      <mat-tab label="Information">
        <section class="task">
          <section class="task__info">
            <mat-form-field class="field">
              <mat-label>Appuser Id</mat-label>
              <input matInput formControlName="appuserIdCtr" [readonly]="true">
            </mat-form-field>
            <mat-form-field class="field">
              <mat-label>Task Id</mat-label>
              <input matInput formControlName="taskIdCtr" [readonly]="true">
            </mat-form-field>
            <mat-form-field class="field">
              <mat-label>Display Name</mat-label>
              <input matInput formControlName="displayNameCtr" [readonly]="true">
            </mat-form-field>
            <mat-form-field class="field">
              <mat-label>Start Time</mat-label>
              <input matInput formControlName="startTimeCtr" [readonly]="true">
            </mat-form-field>
            <mat-form-field class="field">
              <mat-label>End Time</mat-label>
              <input matInput formControlName="endTimeCtr" [readonly]="true">
            </mat-form-field>
            <mat-form-field class="field">
              <mat-label>Revoked</mat-label>
              <input matInput formControlName="revokedCtr" [readonly]="true">
            </mat-form-field>
            <mat-form-field class="field">
              <mat-label>Task State</mat-label>
              <input matInput formControlName="taskStateCtr" [readonly]="true">
            </mat-form-field>
          </section>
          <section class="task__result">
            <mat-label>Task Result</mat-label>
            <div class="task__result__editor">
              <ace-editor #editor></ace-editor>
            </div>
          </section>
        </section>
      </mat-tab>
      <mat-tab label="Metadata">
        <section class="metadata">
          <div class="metadata__json">
            <ngx-json-viewer [json]="data.genData.task_metadata ? data.genData.task_metadata : {}" [expanded]="false"></ngx-json-viewer>
          </div>
        </section>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div>
      <button mat-raised-button type="button" (click)="postTask()" color="primary">
        <mat-icon>autorenew</mat-icon>Post Task
      </button>
      <button mat-raised-button type="button" (click)="rerun()" color="primary">
        <mat-icon>autorenew</mat-icon>Rerun
      </button>
      <button mat-raised-button type="button" (click)="revokeTask()" color="primary">
        <mat-icon>cancel</mat-icon>Revoke Task
      </button>
    </div>
    <div>
      <button mat-raised-button type="button" mat-dialog-close class="btn-close">Close</button>
    </div>
  </mat-dialog-actions>
</form>
