<mat-toolbar color="primary">
    <a mat-button [routerLink]="routeSegments.ROOT" class="home-btn">
        <img alt="App icon" src="favicon.ico" style="height: 40px; width: 55px">
        <span><b style="color:#007bff">Blue</b> Cloak</span>
    </a>
    <a mat-button [matMenuTriggerFor]="project" class="menu-btn">Project</a>
    <mat-menu #project="matMenu">
        <button mat-menu-item>
            <mat-icon>create_new_folder</mat-icon>
            <span>New</span>
        </button>
        <button mat-menu-item [routerLink]="routeSegments.PROJECTS">
            <mat-icon>folder_open</mat-icon>
            <span>Open</span>
        </button>
        <button mat-menu-item>
            <mat-icon>download</mat-icon>
            <span>Export</span>
        </button>
        <button mat-menu-item>
            <mat-icon>upload</mat-icon>
            <span>Import</span>
        </button>
        <button mat-menu-item>
            <mat-icon>folder_delete</mat-icon>
            <span>Close</span>
        </button>
    </mat-menu>
    <a mat-button [matMenuTriggerFor]="report" class="menu-btn">Report</a>
    <mat-menu #report="matMenu">
        <button mat-menu-item>
            <mat-icon>note_add</mat-icon>
            <span>New</span>
        </button>
        <button mat-menu-item>
            <mat-icon>file_open</mat-icon>
            <span>Open</span>
        </button>
        <button mat-menu-item>
            <mat-icon>file_download</mat-icon>
            <span>Export</span>
        </button>
        <button mat-menu-item>
            <mat-icon>file_upload</mat-icon>
            <span>Import</span>
        </button>
        <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Close</span>
        </button>
    </mat-menu>
    <a mat-button [matMenuTriggerFor]="components" class="menu-btn">Components</a>
    <mat-menu #components="matMenu">
        <button mat-menu-item>
            <mat-icon>devices</mat-icon>
            <span>Device/Template</span>
        </button>
        <button mat-menu-item>
            <mat-icon>router</mat-icon>
            <span>Hardware</span>
        </button>
        <button mat-menu-item>
            <mat-icon>laptop</mat-icon>
            <span>Icon</span>
        </button>
        <button mat-menu-item>
            <mat-icon>wifi</mat-icon>
            <span>Connections</span>
        </button>
        <button mat-menu-item>
            <mat-icon>source</mat-icon>
            <span>Config Templates</span>
        </button>
        <button mat-menu-item>
            <mat-icon>groups</mat-icon>
            <span>Login Profiles</span>
        </button>
    </mat-menu>
    <a mat-button [routerLink]="routeSegments.SETTINGS" class="menu-btn" routerLinkActive="active">Settings</a>
    <a mat-button [matMenuTriggerFor]="help" class="menu-btn">Help</a>
    <mat-menu #help="matMenu">
        <button mat-menu-item>
            <mat-icon>book</mat-icon>
            <span>User Guide</span>
        </button>
        <button mat-menu-item>
            <mat-icon>info</mat-icon>
            <span>About</span>
        </button>
    </mat-menu>
    
    <span class="menu-spacer"></span>
    <a mat-button [matMenuTriggerFor]="account">
        <mat-icon>person</mat-icon>
        <span>{{"User Name"}}</span>
    </a>
    <mat-menu #account="matMenu">
        <button mat-menu-item (click)="userProfile()">
            <mat-icon>account_box</mat-icon>
            <span>Profile</span>
        </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>
</mat-toolbar>