$margin: 8px;

.menu-spacer {
  flex: 1 1 auto;
}

.active {
  background: rgba(0,0,0,.2);
}

.menu-btn {
  font-weight: 700;
}

.search-bar {
  font-size: 16px;
  padding: 10px 0 0 8px;
}

.search-bar input {
  font-size: 14px;
}

.btn-clear-search-text, .btn-search {
  font-size: 24px !important;
}

.project-name {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.project-name mat-icon {
  margin-right: calc($margin/2);
}

.project-name a {
  padding: 0 calc($margin/2);
}
