<form [formGroup]="roleServicesForm" (ngSubmit)="addRoleServices()">
  <h1 mat-dialog-title>Add Roles & Service</h1>
  <div mat-dialog-content>
    <mat-form-field class="field">
      <mat-label>Device</mat-label>
      <mat-chip-list #chipList aria-label="Role selection">
        <mat-chip
          *ngFor="let role of roleService"
          (removed)="remove(role)">
          {{role.name}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input matInput type="text" placeholder="Select Roles or Services" 
        [formControl]="roles" 
        [matAutocomplete]="autoRole"
        [matChipInputFor]="chipList">
      </mat-chip-list>
      <mat-autocomplete #autoRole="matAutocomplete" [displayWith]="helpers.optionDisplay"
        (optionSelected)="selectRolesOrServices($event)">
        <mat-option *ngFor="let option of rolesList" [value]="option">
            <span>{{ option.name }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div mat-dialog-actions [align]="'end'" class="create-btn">
    <button mat-raised-button color="warn"  type="button" (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary">
    Add
    </button>
  </div>
</form>
