.cytoscape-node-port{
	border: 1px solid #000;
	background-color: #fff;
	width: fit-content;
	height: fit-content;
	overflow: hidden;
}

.cytoscape-node-port > img{
	max-width: 100%;
	max-height: 100%;
}

.cytoscape-node-port > canvas{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 101;
}

.cytoscape-node-portOverlay{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 103;
}

.outline{
	border-bottom: 1px solid black;
	cursor: move;
}