<mat-accordion class="map-info-panel" hideToggle>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Infomation Panel
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Nodes">Nodes</mat-tab>
            <mat-tab label="Port Groups">Port Groups</mat-tab>
            <mat-tab label="Interfaces">Interfaces</mat-tab>
          </mat-tab-group>
    </mat-expansion-panel>
</mat-accordion>