$tool-panel-width: 300px;
$margin: 8px;

.tab-section {
    margin: $margin;
    width: calc($tool-panel-width - $margin*2);
    text-align: center;
    display: table;
}

.tab-field {
    width: 100%;
    margin: $margin 0;
    align-items: center;
    display: flex;
}

.tab-select-field {
    width: 100%;
    align-items: center;
}

.reinitialize-map-btn {
    width: 100%;
}