<form [formGroup]="nodeAddForm" (ngSubmit)="data.mode == 'add' ? addNode() : updateNode()">
  <h1 mat-dialog-title>{{data.mode == 'add' ? 'Node Add Form' : 'Node Edit Form'}}</h1>
  <div mat-dialog-content>
    <mat-form-field class="field">
      <mat-label>Name</mat-label>
      <input matInput formControlName="nameCtr">
      <mat-error *ngIf="nameCtr?.errors?.required">{{ errorMessages.FIELD_IS_REQUIRED }}</mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>Notes</mat-label>
      <textarea matInput formControlName="notesCtr"></textarea>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>Icon</mat-label>
      <input matInput type="text" placeholder="Select an icon" formControlName="iconCtr" [matAutocomplete]="autoIcon">
      <mat-autocomplete #autoIcon="matAutocomplete" [displayWith]="helpers.optionDisplay">
        <mat-option *ngFor="let option of data.icons" [value]="option">
          <div class="option-text">
            <img [src]="'/static/img/uploads/' + option.photo" height="24" width="24">
            &nbsp;
            <span>{{ option.name }}</span>
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div class="category">
      <label class="category-label">Category:</label>
      <mat-radio-group class="category-group" formControlName="categoryCtr" (change)="onCategoryChange($event)">
        <mat-radio-button class="category-items" value="vm">VM</mat-radio-button>
        <mat-radio-button class="category-items" value="hw">HW</mat-radio-button>
        <mat-radio-button class="category-items" value="other">Other</mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-form-field class="field">
      <mat-label>Device</mat-label>
      <input matInput type="text" placeholder="Select a device" formControlName="deviceCtr"
        [matAutocomplete]="autoDevice">
      <mat-autocomplete #autoDevice="matAutocomplete" [displayWith]="helpers.optionDisplay"
        (optionSelected)="selectDevice($event)">
        <mat-option *ngFor="let option of data.devices" [value]="option">
          <div class="option-text">
            <img [src]="'/static/img/uploads/' + option.icon.photo" height="24" width="24">
            &nbsp;
            <span>{{ option.name }}</span>
          </div>
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="deviceCtr?.errors?.required">{{ errorMessages.FIELD_IS_REQUIRED }}</mat-error>
      <mat-error *ngIf="deviceCtr?.errors?.isNotMatch">{{ errorMessages.OPTION_NOT_MATCH }}</mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>Template</mat-label>
      <input matInput type="text" placeholder="Select a template" formControlName="templateCtr"
        [matAutocomplete]="autoTemplate">
      <mat-autocomplete #autoTemplate="matAutocomplete" [displayWith]="helpers.templateDisplay">
        <mat-option *ngFor="let option of filteredTemplates" [value]="option">
          <div class="option-text">
            <img [src]="'/static/img/uploads/' + option.icon.photo" height="24" width="24">
            &nbsp;
            <span>{{ option.display_name }}</span>
          </div>
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="templateCtr?.errors?.required">{{ errorMessages.FIELD_IS_REQUIRED }}</mat-error>
      <mat-error *ngIf="templateCtr?.errors?.isNotMatch">{{ errorMessages.OPTION_NOT_MATCH }}</mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>Hardware</mat-label>
      <input matInput type="text" placeholder="Select a hardware" formControlName="hardwareCtr"
        [matAutocomplete]="autoHardware">
      <mat-autocomplete #autoHardware="matAutocomplete" [displayWith]="helpers.hardwareDisplay">
        <mat-option *ngFor="let option of data.hardwares" [value]="option" height="60">
          <div class="hardware-option-text">
            <span class="option-text-items"><b>{{ option.device.name }} {{ option.template.name }}</b></span>
            <span class="option-text-items">Serial #: {{ option.serial_number }}</span>
            <span class="option-text-items">Asset Tag: {{ option.asset_tag }}</span>
          </div>
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="hardwareCtr?.errors?.required">{{ errorMessages.FIELD_IS_REQUIRED }}</mat-error>
      <mat-error *ngIf="hardwareCtr?.errors?.isNotMatch">{{ errorMessages.OPTION_NOT_MATCH }}</mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>Folder</mat-label>
      <input matInput formControlName="folderCtr">
      <mat-error *ngIf="folderCtr?.errors?.required">{{ errorMessages.FIELD_IS_REQUIRED }}</mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>Role</mat-label>
      <input matInput type="text" placeholder="Select a role" formControlName="roleCtr" [matAutocomplete]="autoRole">
      <mat-autocomplete #autoRole="matAutocomplete" [displayWith]="helpers.optionDisplay">
        <mat-option *ngFor="let option of ROLES" [value]="option">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="roleCtr?.errors?.required">{{ errorMessages.FIELD_IS_REQUIRED }}</mat-error>
      <mat-error *ngIf="roleCtr?.errors?.isNotMatch">{{ errorMessages.OPTION_NOT_MATCH }}</mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>Domain</mat-label>
      <input matInput type="text" placeholder="Select a domain" formControlName="domainCtr"
        [matAutocomplete]="autoDomain">
      <mat-autocomplete #autoDomain="matAutocomplete" [displayWith]="helpers.optionDisplay">
        <mat-option *ngFor="let option of data.domains" [value]="option">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="domainCtr?.errors?.required">{{ errorMessages.FIELD_IS_REQUIRED }}</mat-error>
      <mat-error *ngIf="domainCtr?.errors?.isNotMatch">{{ errorMessages.OPTION_NOT_MATCH }}</mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>Hostname</mat-label>
      <input matInput formControlName="hostnameCtr">
      <mat-error *ngIf="hostnameCtr?.errors?.required">{{ errorMessages.FIELD_IS_REQUIRED }}</mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>Configurations</mat-label>
      <input matInput type="text" placeholder="Select a config" formControlName="configTemplateCtr"
        [matAutocomplete]="autoConfig">
      <mat-autocomplete #autoConfig="matAutocomplete" [displayWith]="helpers.optionDisplay">
        <mat-option *ngFor="let option of data.configTemplates" [value]="option">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="domainCtr?.errors?.isNotMatch">{{ errorMessages.OPTION_NOT_MATCH }}</mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>Login Profile</mat-label>
      <input matInput type="text" placeholder="Assign a login profile" formControlName="loginProfileCtr"
        [matAutocomplete]="autoLoginProfile">
      <mat-autocomplete #autoLoginProfile="matAutocomplete" [displayWith]="helpers.optionDisplay">
        <mat-option *ngFor="let option of data.loginProfiles" [value]="option">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="domainCtr?.errors?.isNotMatch">{{ errorMessages.OPTION_NOT_MATCH }}</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions [align]="'end'">
    <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
    <button mat-raised-button type="submit" color="primary" [disabled]="!nodeAddForm.valid">{{data.mode == 'add' ? 'Add'
      : 'Update'}}</button>
  </div>
</form>