$margin: 8px;

.field {
    width: 100%;
    align-items: center;
}

.category {
    width: 100%;
    align-items: center;
    margin: $margin 0;
    display: flex;
}

.category-group {
    width: 100%;
    display: flex;
    justify-content: center;
}

.category-items {
    margin: 0 $margin;
}