<mat-card class="table">
  <mat-card-title class="table__title">Map Preferences</mat-card-title>
  <div class="table__nav">
    <div class="table__nav--actions">
      <button mat-button mat-mini-fab color="primary" matTooltip="Add" (click)="addMapPref()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-button mat-mini-fab color="primary" matTooltip="Edit" (click)="updateMapPref()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-button mat-mini-fab color="primary" matTooltip="Delete" (click)="deleteMapPref()">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-button mat-mini-fab color="primary" matTooltip="Export as JSON" (click)="export()">
        <mat-icon svgIcon="export-json"></mat-icon>
      </button>
    </div>
    <div class="table__nav--search">
      <input
        matInput
        class="search"
        type="search"
        [(ngModel)]="quickFilterValue"
        placeholder="Search..."
        (input)="onQuickFilterInput($event)"
      >
    </div>
  </div>
  <mat-card-content class="table__content">
    <ag-grid-angular
      class="ag-theme-alpine map-pref-content"
      [pagination]="true"
      [paginationPageSize]="25"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="rowData$ | async"
      [rowSelection]="'multiple'"
      [suppressRowClickSelection]="true"
      [animateRows]="true"
      (gridReady)="onGridReady($event)"
      (rowSelected)="selectedRows()"
      (rowDoubleClicked)="onRowDoubleClick($event)"
    >
    </ag-grid-angular>
  </mat-card-content>
</mat-card>
