<mat-card class="content">
  <mat-card-title class="mappre-title">Map Preference List</mat-card-title>
  <div class="sub-title">
    <div class="left">
      <button mat-raised-button color="primary" (click)="addMapPref()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-button [matMenuTriggerFor]="actionMenu" class="actions">Actions
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #actionMenu="matMenu">
        <button mat-menu-item (click)="export()"><mat-icon svgIcon="export-json"></mat-icon>Export as JSON</button>
      </mat-menu>
    </div>
    <div class="right">
      <input
        matInput
        class="search"
        type="search"
        [(ngModel)]="quickFilterValue"
        placeholder="Search..."
        (input)="onQuickFilterInput($event)"
      >
    </div>
  </div>
  <ag-grid-angular
  class="ag-theme-alpine map-pre-table"
  [pagination]="true"
  [paginationPageSize]="25"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [rowData]="rowData$ | async"
  [rowSelection]="'multiple'"
  [suppressRowClickSelection]="true"
  [animateRows]="true"
  (gridReady)="onGridReady($event)"
  (rowSelected)="selectedRows()"
  >
  </ag-grid-angular>
</mat-card>
