<form [formGroup]="portGroupBulkEdit" (ngSubmit)="updatePortGroupBulk()" autocomplete="off">
  <h1 mat-dialog-title>Port group Bulk Edit Form</h1>
  <div mat-dialog-content>
    <mat-form-field class="field">
      <mat-label>Domain</mat-label>
      <input autocomplete="off" id="pgbulk-domain" matInput type="text" placeholder="Select a domain" formControlName="domainCtr"
             [matAutocomplete]="autoDomain">
      <mat-autocomplete #autoDomain="matAutocomplete" [displayWith]="helpers.optionDisplay">
        <mat-option *ngFor="let option of filteredDomains | async" [value]="option">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="domainCtr?.errors?.isNotMatch">{{ errorMessages.OPTION_NOT_MATCH }}</mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>VLAN ID</mat-label>
      <input autocomplete="off" id="pgbulk-vlan" matInput formControlName="vlanCtr">
      <mat-error *ngIf="vlanCtr?.errors?.required">{{ errorMessages.FIELD_IS_REQUIRED }}</mat-error>
      <mat-error *ngIf="vlanCtr?.errors?.pattern">{{ errorMessages.FIELD_IS_NUMBER }}</mat-error>
      <mat-error *ngIf="vlanCtr?.errors?.min">{{ errorMessages.VLAN_RANGE_VALUE_0_4095 }}</mat-error>
      <mat-error *ngIf="vlanCtr?.errors?.max">{{ errorMessages.VLAN_RANGE_VALUE_0_4095 }}</mat-error>
      <mat-error *ngIf="vlanCtr?.errors?.serverError">{{ vlanCtr?.errors?.serverError }}</mat-error>
      <mat-error *ngIf="vlanCtr?.errors?.errorServerExist">{{ vlanCtr?.errors?.errorServerExist }}</mat-error>
    </mat-form-field>
    <div class="category">
      <label class="category-label">Category</label>
      <mat-radio-group class="category-group" formControlName="categoryCtr">
        <mat-radio-button class="category-items" value="private">Private</mat-radio-button>
        <mat-radio-button class="category-items" value="public">Public</mat-radio-button>
        <mat-radio-button class="category-items" value="management">Management</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="category">
      <label class="category-label">Subnet Allocation</label>
      <mat-radio-group class="category-group" formControlName="subnetAllocationCtr">
        <mat-radio-button class="category-items" value="static_auto">Static-Auto</mat-radio-button>
        <mat-radio-button class="category-items" value="static_manual">Static-Manual</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div mat-dialog-actions [align]="'end'">
    <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
    <button mat-raised-button type="submit" color="primary" [disabled]="!portGroupBulkEdit.valid">Update</button>
  </div>
</form>
