.container {
  height: auto;
  text-align: center !important;
  width: 80%;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  border: 1px solid #dfdcdc;
}

.title {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
}

.name-footer {
  display: flex;
  flex-direction: column;
}

.checkbox-icons {
  position: absolute;
  top: 3px;
  left: 3px;
}

.icon-name {
  padding-top: 10px;
}

.acction-icons {
  display: flex;
  padding-top: 11px;
}

.acction-icons button {
  border: 1px solid #eee;
}

.icon-container {
  width: 80%;
  height: auto;
  border: 0.5px solid #eee;
  cursor: pointer;
}

.sub-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.actions {
  border: 1px solid #a9a9a9;
  margin-left: 15px;
}

.select-all {
  display: block;
  text-align: left;
  padding-left: 13px;
}

.no-photo {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-photo button {
  height: 80px;
  width: 80px;
}

.no-photo mat-icon {
  height: 80px;
  width: 80px;
  font-size: 80px;
  line-height: 1;
}