.field {
  width: 100%;
}

.features-table {
  padding-top: 10px;
  height: 200px;
}

.features-section {
  font-family: 'Roboto', sans-serif;
}

::ng-deep div[data-lastpass-icon-root] {
  display: none;
}