<form [formGroup]="mapPrefForm" (ngSubmit)="data.mode === 'add' ? addMapPref() : updateMapPref()">
  <h1 mat-dialog-title>{{ data.mode === 'add' ? 'Add New Preferences' : data.mode === 'update' ? 'Edit Map Preferences' : 'Map Preference Detail' }}</h1>
  <div mat-dialog-content *ngIf="data.mode === 'view'">
    <mat-form-field class="field">
      <mat-label>Name</mat-label>
      <input type="text" formControlName="name" matInput [readonly]="isViewMode">
    </mat-form-field>
    <div class="tab-field" disabled>
      <label class="label">Group Box Defaults</label>
      <div [innerHTML]="gbColorHtml"></div>
    </div>
    <div class="tab-field">
      <label class="label">Port Group Defaults</label>
      <div [innerHTML]="gbDefaultHtml"></div>
    </div>
	  <div class="tab-field">
      <label class="label" >Edge Defaults</label>
      <div [innerHTML]="edgeDefaults"></div>
    </div>
    <div class="tab-field">
      <label class="label" >Node Defaults</label>
      <div [innerHTML]="nodeDefaults"></div>
    </div>
    <div class="tab-field">
      <label class="label" >Text Defaults</label>
      <div [innerHTML]="textDefaults"></div>
    </div>
    <mat-form-field class="field">
      <mat-label>Zoom Speed </mat-label>
      <input type="text" formControlName="zoomSpeedCtr" matInput [readonly]="isViewMode">
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>None</mat-label>
      <input type="text" formControlName="defaultIconCtr" matInput [readonly]="isViewMode">
    </mat-form-field>
  </div>
  <div mat-dialog-content *ngIf="data.mode !== 'view'">
    <mat-form-field class="field">
      <mat-label>Name</mat-label>
      <input type="text" formControlName="name" matInput>
      <mat-error *ngIf="name?.errors?.required">{{ errorMessages.FIELD_IS_REQUIRED }}</mat-error>
      <mat-error *ngIf="name?.errors?.isExist">{{ errorMessages.NAME_EXISTS }}</mat-error>
    </mat-form-field>
    <div class="tab-field">
      <label class="label" for="gbColor">Group Box Color</label>
      <button type="button" mat-mini-fab id="gbColor" class="color-picker" [(colorPicker)]="gbColor"
      [style.background]="gbColor" cpPosition="bottom" (colorPickerChange)="setGbColor($event)"
      ></button>
    </div>
    <div class="tab-field">
      <label class="label">Group Box Opacity</label>
      <mat-slider class="slider" formControlName="gbOpacity" step="0.01" min="0" max="1" ></mat-slider>
    </div>
    <mat-form-field class="field">
      <mat-label>Group Box Border</mat-label>
      <mat-select formControlName="gbBorder">
        <mat-option *ngFor="let option of listGroupBoxBorder" [value]="option.value">{{ option.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="tab-field">
      <label class="label" for="groupBoxBorderColor">Group Box Border Color </label>
      <button type="button" mat-mini-fab id="groupBoxBorderColor" class="color-picker" 
      [(colorPicker)]="gbBorderColor"
      [style.background]="gbBorderColor" cpPosition="bottom" (colorPickerChange)="setGbBorderColor($event)"
      ></button>
    </div>
    <div class="tab-field">
      <label class="label" for="portGroupColor">Port Group Color </label>
      <button type="button" mat-mini-fab id="portGroupColor" class="color-picker" 
      [(colorPicker)]="pgColor"
      [style.background]="pgColor" cpPosition="bottom" (colorPickerChange)="setPgColor($event)"
      ></button>
    </div>
    <div class="tab-field">
      <label class="label">Port Group Size</label>
      <div>
        <mat-slider class="slider" formControlName="pgSizeCtr" step="1" min="0" max="100"></mat-slider>
      </div>
    </div>
    <div class="tab-field">
      <label class="label" for="edgeColor">Edge Color </label>
      <button type="button" mat-mini-fab id="edgeColor" class="color-picker" 
      [(colorPicker)]="edgeColor"
      [style.background]="edgeColor" cpPosition="bottom" (colorPickerChange)="setEdgeColor($event)"
      ></button>
    </div>
    <div class="tab-field">
      <label class="label">Edge Width</label>
      <mat-slider class="slider" formControlName="edgeWidthCtr" step="1" min="0" max="100"></mat-slider>
    </div>
    <div class="tab-field">
      <label class="label">Node Size</label>
      <mat-slider class="slider" formControlName="nodeSizeCtr" step="1" min="0" max="100"></mat-slider>
    </div>
    <div class="tab-field">
      <label class="label">Text Size</label>
      <mat-slider class="slider" formControlName="textSizeCtr" step="1" min="0" max="100"></mat-slider>
    </div>
    <div class="tab-field">
      <label class="label" for="textColor">Text Color </label>
      <button type="button" mat-mini-fab id="textColor" class="color-picker" 
      [(colorPicker)]="textColor"
      [style.background]="textColor" cpPosition="bottom" (colorPickerChange)="setTextColor($event)"
      ></button>
    </div>
    <mat-form-field class="field">
      <mat-label>Text Horizontal Alignment</mat-label>
      <mat-select formControlName="textHorizontalAlignmentCtr">
        <mat-option *ngFor="let option of listTextHorizontalAlignment" [value]="option.value">{{ option.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>Text Vertical Alignment</mat-label>
      <mat-select formControlName="textVerticalAlignmentCtr">
        <mat-option *ngFor="let option of listTextVerticalAlignment" [value]="option.value">{{ option.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="tab-field">
      <label class="label" for="TextBG">Text Background </label>
      <button type="button" mat-mini-fab id="TextBG" class="color-picker" 
      [(colorPicker)]="TextBG"
      [style.background]="TextBG" cpPosition="bottom" (colorPickerChange)="setTextBG($event)"
      ></button>
    </div>
    <div class="tab-field">
      <label class="label">Text Background Opacity</label>
      <mat-slider class="slider" formControlName="textBgOpacityCtr" step="0.01" min="0" max="1"></mat-slider>
    </div>
    <div class="tab-field">
      <label class="label">Map Grid</label>
      <mat-checkbox formControlName="mapGridCtr"></mat-checkbox>
    </div>
    <div class="tab-field">
      <label class="label">Grid Spacing</label>
      <mat-slider class="slider" formControlName="gridSpacingCtr" step="1" min="50" max="250"></mat-slider>
    </div>
    <div class="checkbox">
      <label class="label">Snap to Grid</label>
      <mat-checkbox formControlName="snapToGridCtr"></mat-checkbox>
    </div>
    <mat-form-field class="field">
      <mat-label>Zoom Speed </mat-label>
      <mat-select formControlName="zoomSpeedCtr">
        <mat-option *ngFor="let option of listZoomSpeed" [value]=option>{{ option }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>Default Icon</mat-label>
      <input matInput type="text" placeholder="Select a Icon" [formControl]="defaultIconCtr" [matAutocomplete]="autoDevice">
      <mat-autocomplete #autoDevice="matAutocomplete" [displayWith]="helpers.optionDisplay">
        <mat-option *ngFor="let option of listIcons" [value]="option">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>Edge Arrow Direction</mat-label>
      <mat-select formControlName="edgeArrowDirectionCtr">
        <mat-option *ngFor="let option of listEdgeArrowDirection" [value]="option.value">{{ option.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="tab-field">
      <label class="label">Edge Arrow Size</label>
      <mat-slider class="slider" formControlName="edgeArrowSizeCtr" step="1" min="0" max="50"></mat-slider>
    </div>
  </div>
  <div mat-dialog-actions [align]="'end'" class="create-btn">
    <button mat-raised-button type="button" (click)="onCancel()">{{data.mode === 'view' ? 'Close' : 'Cancel'}}</button>
    <button *ngIf="data.mode !== 'view'" mat-raised-button color="primary" [disabled]="!mapPrefForm.valid">
     {{ data.mode === 'add' ? 'Create' : 'Update' }}
    </button>
  </div>
</form>
