<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
  <h1 mat-dialog-title>Reset Password Form</h1>
  <div mat-dialog-content>
    <mat-form-field class="field">
      <mat-label>Password</mat-label>
      <input [type]="showPassword ? 'text' : 'password'" formControlName="passwordCtr" matInput>
      <mat-icon matSuffix (click)="togglePassword()">{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      <mat-hint>Please use a good password policy, this application does not check this for you</mat-hint>
      <mat-error *ngIf="passwordCtr?.errors?.required">{{ errorMessages.FIELD_IS_REQUIRED }}</mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>Confirm Password</mat-label>
      <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPasswordCtr" [errorStateMatcher]="errorMatcher" matInput>
      <mat-icon matSuffix (click)="toggleConfirmPassword()">{{ showConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      <mat-hint>Please rewrite the user's password to confirm</mat-hint>
      <mat-error *ngIf="resetPasswordForm?.errors?.['isNotMatch']">{{ errorMessages.PASSWORD_NOT_MATCH}}</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions [align]="'end'" class="create-btn">
    <button mat-raised-button type="button" (click)="onCancel()">Close</button>
    <button mat-raised-button color="primary" [disabled]="!resetPasswordForm.valid">
     Save
    </button>
  </div>
</form>
