.field {
  width: 100%;
}

.field-checkbox {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.sub-title {
  padding-top: 10px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

mat-divider {
  padding-bottom: 15px;
}