.device-category {
  margin: 16px auto;
  width: 80%;
  border: 1px solid #dfdcdc;
  .device-category__action {
    margin: 0 0 10px;
  }
}

.device-category__ag {
  height: calc(100vh - 220px);
}

::ng-deep .ag-header-cell-label {
  justify-content: center;
}
