<form [formGroup]="addDomainUserForm" data-cy="addDomainUserForm" (ngSubmit)="addDomainUsers()" autocomplete="off">
  <h1 mat-dialog-title>Create Domain Users</h1>
  <div mat-dialog-content>
    <mat-form-field class="field">
      <mat-label>Number of User</mat-label>
      <input autocomplete="off" id="domain-user-number" type="text" matInput formControlName="numberUserCtr" placeholder="Please enter the number of user">
      <mat-error *ngIf="numberUserCtr?.errors?.required">{{ errorMessages.FIELD_IS_REQUIRED }}</mat-error>
      <mat-error *ngIf="numberUserCtr?.errors?.min">{{ errorMessages.MIN_NUMBER_1 }}</mat-error>
      <mat-error *ngIf="numberUserCtr?.errors?.pattern">{{ errorMessages.FIELD_IS_NUMBER }}</mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>User Password</mat-label>
      <input autocomplete="off" id="domain-user-password" type="text" matInput formControlName="userPasswordCtr" value="P@ssw0rd123">
    </mat-form-field>
  </div>
  <div mat-dialog-actions [align]="'end'">
    <button type="button" mat-raised-button mat-dialog-close>Cancel</button>
    <button type="submit" mat-raised-button color="primary" [disabled]="!addDomainUserForm.valid">
      Save <mat-icon>save</mat-icon>
    </button>
  </div>
</form>
