$margin: 8px;

.field {
    width: 100%;
    align-items: center;
}

.category {
    width: 100%;
    align-items: center;
    padding: $margin;
    display: flex;
}

.category-group {
    width: 75%;
    display: flex;
    justify-content: left;
}

.category-label {
    width: 25%;
    font-family: 'Roboto', sans-serif;
}

.category-items {
    margin: 0 $margin;
    flex: 1;
}

.checkbox-field {
    padding: $margin 0;
}

.option-text {
    display: flex;
    align-items: center;
}

.option-text-items {
    display: block;
}

.portgroup-option-text {
    line-height: normal;
}

.mat-option {
    height: 60px;
}

.interface-content {
    height: 49vh;
    &__top, &__bottom {
        display: flex;
        justify-content: space-between;
        &__left, &__right{
            width: 45%;
            padding: $margin;
        }
    }
}