$margin: 8px;

.info-panel-pg {
  text-align: center;
}

.btn-actions-group {
  padding: 0 5px 0 10px;
  margin: $margin 0;
}

.btn-action-item {
  margin-right: $margin;
}

::ng-deep .ag-header-cell-label {
  justify-content: center;
}

.field {
  margin-left: 15px;
  margin-right: 15px;
}
