<div class="btn-actions-group">
  <ng-template [ngxPermissionsOnly]="['can_write on Project']" [ngxPermissionsElse]="elseBlock">
  <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Delete" (click)="deletePortGroup()">
    <mat-icon>delete_forever</mat-icon>
  </button>
  <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Edit" (click)="editPortGroup()">
    <mat-icon>edit</mat-icon>
  </button>
  </ng-template>
  <ng-template #elseBlock>
    <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Delete" (click)="deletePortGroup()" disabled="true">
      <mat-icon>delete_forever</mat-icon>
    </button>
    <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Edit" (click)="editPortGroup()" disabled="true">
      <mat-icon>edit</mat-icon>
    </button>
  </ng-template>
  <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Export as JSON" (click)="exportPortGroup('json')">
    <mat-icon svgIcon="export-json"></mat-icon>
  </button>
  <ng-template [ngxPermissionsOnly]="['can_write on Project']" [ngxPermissionsElse]="elseBlockRandomizeSubnet">
    <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Randomize Subnet" (click)="randomizeSubnet()">
      <mat-icon svgIcon="randomize-subnet"></mat-icon>
    </button>
  </ng-template>
  <ng-template #elseBlockRandomizeSubnet>
    <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Randomize Subnet" (click)="randomizeSubnet()" disabled="true">
      <mat-icon svgIcon="randomize-subnet"></mat-icon>
    </button>
  </ng-template>
  <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Validate" (click)="validatePortGroup()">
    <mat-icon>check</mat-icon>
  </button>
  <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Clear Table" (click)="clearTable()">
    <mat-icon>clear</mat-icon>
  </button>
  <button class="btn-action-item" [matMenuTriggerFor]="filterMenu" #menuContacts="matMenuTrigger" mat-mini-fab color="primary" matTooltip="Filter Table">
    <mat-icon>filter_list</mat-icon>
  </button>
  <mat-menu #filterMenu="matMenu">
    <form [formGroup]="filterOptionForm">
      <mat-form-field class="field">
        <mat-label>Options</mat-label>
        <mat-select
          formControlName="filterOptionCtr"
          (click)="selectOption($event)"
          (selectionChange)="changeFilterOption(menuContacts, $event)">
        <mat-option value="all">All</mat-option>
        <mat-option value="selected">Selected</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-menu>
</div>
<app-info-panel-table [cy]="cy" [infoPanelheight]="infoPanelheight" [gridOptions]="gridOptions" [tabName]="tabName"></app-info-panel-table>
