<form [formGroup]="configForm" (ngSubmit)="addRoute()">
  <h1 mat-dialog-title>Add Static Route</h1>
  <div mat-dialog-content>
    <mat-form-field class="field">
      <mat-label>Route</mat-label>
      <input type="text" formControlName="route" matInput>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>Next Hop</mat-label>
      <input type="text" formControlName="nextHop" matInput>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>Interface</mat-label>
      <input type="text" formControlName="interface" matInput>
    </mat-form-field>
  </div>
  <div mat-dialog-actions [align]="'end'" class="create-btn">
    <button mat-raised-button color="warn"  type="button" (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!configForm.valid">
     Add
    </button>
  </div>
</form>