.configTemplate {
  height: calc(100vh - 220px);
  text-align: center !important;
}

.config-template-container {
  width: 90%;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  border: 1px solid #dfdcdc;
}

.config-template-title {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
}

.sub-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.search {
  width: 250px;
  height: 100%;
  border: 2px solid #a9a9a9;
  border-radius: 5px;
}

.actions {
  border: 1px solid #a9a9a9;
  margin-left: 15px;
}

::ng-deep .ag-header-cell-label {
  justify-content: center !important;
}

::ng-deep .ag-cell-wrap-text {
  word-break: break-word;
}