<form [formGroup]="pgAddForm" data-cy="pgAddForm" (ngSubmit)="data.mode === 'add' ? addPG() : updatePG()"
  autocomplete="off">
  <div class="dialog-title">
    <h1 class="pg-title" mat-dialog-title>{{data.mode === 'add' ? 'Port Group Add' : data.mode === 'update' ? 'Port Group Edit' : 'Port Group Info'}}</h1>
    <ng-template [ngxPermissionsOnly]="['can_write on Project']" [ngxPermissionsElse]="elseBlock">
      <button *ngIf="data.mode === 'view'" mat-icon-button color="primary" matTooltip="Edit" type="button"
        (click)="changeViewToEdit()">
        <mat-icon>edit</mat-icon>
      </button>
    </ng-template>
    <ng-template #elseBlock>
      <button *ngIf="data.mode === 'view'" mat-icon-button color="primary" matTooltip="Edit" type="button"
        (click)="changeViewToEdit()" disabled="true">
        <mat-icon>edit</mat-icon>
      </button>
    </ng-template>
  </div>
  <mat-dialog-content class="pg-area">
    <mat-tab-group>
      <mat-tab label="Information">
        <div class="info-area">
          <mat-form-field class="field">
            <mat-label>Name</mat-label>
            <input autocomplete="off" id="pg-name" matInput formControlName="nameCtr" [readonly]="isViewMode">
            <mat-error *ngIf="nameCtr?.errors?.required">{{ errorMessages.FIELD_IS_REQUIRED }}</mat-error>
          </mat-form-field>
          <mat-form-field class="field">
            <mat-label>VLAN ID</mat-label>
            <input autocomplete="off" id="pg-vlan" matInput formControlName="vlanCtr" [readonly]="isViewMode">
            <mat-error *ngIf="vlanCtr?.errors?.required">{{ errorMessages.FIELD_IS_REQUIRED }}</mat-error>
            <mat-error *ngIf="vlanCtr?.errors?.pattern">{{ errorMessages.FIELD_IS_NUMBER }}</mat-error>
            <mat-error *ngIf="vlanCtr?.errors?.min">{{ errorMessages.VLAN_RANGE_VALUE_0_4095 }}</mat-error>
            <mat-error *ngIf="vlanCtr?.errors?.max">{{ errorMessages.VLAN_RANGE_VALUE_0_4095 }}</mat-error>
            <mat-error *ngIf="vlanCtr?.errors?.serverError">{{ vlanCtr?.errors?.serverError }}</mat-error>
            <mat-error *ngIf="vlanCtr?.errors?.errorServerExist">{{ vlanCtr?.errors?.errorServerExist }}</mat-error>
          </mat-form-field>
          <div *ngIf="data.mode !== 'add'" class="category">
            <label class="category-label">Category:</label>
            <mat-radio-group class="category-group" color="primary" formControlName="categoryCtr"
                             (change)="onCategoryChange($event)">
              <mat-radio-button class="category-items" [disabled]="isViewMode" value="private">Private</mat-radio-button>
              <mat-radio-button class="category-items" [disabled]="isViewMode" value="public">Public</mat-radio-button>
              <mat-radio-button [disabled]="tabName !== 'portGroupManagement' || isViewMode" class="category-items"
                                value="management">Management</mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-form-field class="field">
            <mat-label>Domain</mat-label>
            <input autocomplete="off" id="pg-domain" matInput type="text" placeholder="Select a domain"
                   formControlName="domainCtr" [matAutocomplete]="autoDomain" [readonly]="isViewMode">
            <mat-autocomplete #autoDomain="matAutocomplete" [displayWith]="helpers.optionDisplay">
              <mat-option *ngFor="let option of filteredDomains | async" [value]="option">
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="domainCtr?.errors?.required">{{ errorMessages.FIELD_IS_REQUIRED }}</mat-error>
            <mat-error *ngIf="domainCtr?.errors?.isNotMatch">{{ errorMessages.OPTION_NOT_MATCH }}</mat-error>
          </mat-form-field>
          <div class="category">
            <label class="category-label">Subnet Allocation:</label>
            <mat-radio-group class="category-group" color="primary" formControlName="subnetAllocationCtr"
                             (change)="onSubnetAllocationChange($event)">
              <mat-radio-button class="category-items" [disabled]="isViewMode"
                                value="static_auto">Static-Auto</mat-radio-button>
              <mat-radio-button class="category-items" [disabled]="isViewMode"
                                value="static_manual">Static-Manual</mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-form-field class="field">
            <mat-label>Subnet</mat-label>
            <input autocomplete="off" id="pg-subnet" matInput formControlName="subnetCtr" [readonly]="isViewMode">
            <mat-error *ngIf="subnetCtr?.errors?.required">{{ errorMessages.FIELD_IS_REQUIRED }}</mat-error>
            <mat-error *ngIf="subnetCtr?.errors?.serverError">{{ subnetCtr?.errors?.serverError }}</mat-error>
            <mat-error *ngIf="subnetCtr?.errors?.errorServerExist">{{ subnetCtr?.errors?.errorServerExist }}</mat-error>
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab *ngIf="data.mode === 'view'" label="Interfaces">
        <div class="info-area interfaces-area">
          <div class="interfaces">
            <div class="ag-theme-alpine interfaces__table" [style.height]="'355px'">
              <ag-grid-angular style="width: 100%; height: 100%;" [rowData]="rowData$ | async" [gridOptions]="gridOptions" (gridReady)="onGridReady($event)">
              </ag-grid-angular>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
  <div mat-dialog-actions [align]="'end'">
    <button mat-raised-button type="button" (click)="onCancel()">
      {{data.mode === 'view' ? 'Close' : 'Cancel'}}
    </button>
    <button *ngIf="data.mode !== 'view'" mat-raised-button type="submit" color="primary" [disabled]="pgAddForm.invalid">
      {{data.mode === 'add' ? 'Add' : 'Update'}}
    </button>
  </div>
</form>
