<form [formGroup]="importForm" (ngSubmit)="importLookupOSFirmwares()">
  <h1 mat-dialog-title>Import Lookup OS/Firmwares</h1>
  <div mat-dialog-content class="import-file">
    <input formControlName="fileCtr" id="file" type="file" name='file' (change)="onFileSelected($event)">
    <mat-error *ngIf="fileCtr?.hasError('isNotFile')">The imported file is invalid</mat-error>
    <label for="file">Import a lookup OS/Firmware from a JSON file</label>
  </div>
  <div mat-dialog-actions [align]="'end'" class="create-btn">
    <button mat-raised-button mat-dialog-close type="button">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!importForm.valid">
      Import
    </button>
  </div>
</form>
