<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">
    <mat-sidenav mode="push" [opened]="isOpenToolPanel">
        <app-map-tool-panel></app-map-tool-panel>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="sidenav-content">
            <div class="tool-panel-toggle">
                <button mat-icon-button color="accent" (click)="isOpenToolPanel = !isOpenToolPanel">
                    <mat-icon *ngIf="isOpenToolPanel">keyboard_double_arrow_left</mat-icon>
                    <mat-icon *ngIf="!isOpenToolPanel">keyboard_double_arrow_right</mat-icon>
                </button>
            </div>
            <div class="map-editor">
                <app-map-editor></app-map-editor>
                <app-map-info-panel></app-map-info-panel>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
