<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false" autosize>
  <mat-sidenav #sidenav mode="side" [opened]="isOpenToolPanel">
    <app-tool-panel [cy]="cy" [ur]="ur" [config]="config" [collectionId]="collectionId" [mapCategory]="mapCategory"
      [isDisableCancel]="isDisableCancel" [isDisableAddNode]="isDisableAddNode" [isDisableAddPG]="isDisableAddPG"
      [isDisableAddImage]="isDisableAddImage" [isTemplateCategory]="isTemplateCategory" [activeNodes]="activeNodes"
      [activePGs]="activePGs" [activeEdges]="activeEdges" [activeGBs]="activeGBs" [activeMBs]="activeMBs"
      [deletedNodes]="deletedNodes" [deletedInterfaces]="deletedInterfaces" [activeMapLinks]="activeMapLinks"
      [isDisableAddProjectTemplate]="isDisableAddProjectTemplate" [isDisableLinkProject]="isDisableLinkProject"
      [isDisableNewFromSelected]="isDisableNewFromSelected" [saveMapSubject]="saveMapSubject.asObservable()">
    </app-tool-panel>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="sidenav-content">
      <div class="tool-panel-toggle">
        <button mat-icon-button color="accent" (click)="isOpenToolPanel = !isOpenToolPanel">
          <mat-icon *ngIf="isOpenToolPanel">keyboard_double_arrow_left</mat-icon>
          <mat-icon *ngIf="!isOpenToolPanel">keyboard_double_arrow_right</mat-icon>
        </button>
      </div>
      <div *ngIf="!isTemplateCategory" class="dashboard">
        <button mat-mini-fab mat-button class="dashboard-btn" color="primary" matTooltip="Dashboard" (click)="openDashboard()">
          <mat-icon>dashboard</mat-icon>
        </button>
      </div>
      <div class="map-editor">
        <div id="cy" style="height: calc(100vh - 64px); width:100%; z-index: 1;"></div>
        <app-info-panel [cy]="cy" [activeNodes]="activeNodes" [activePGs]="activePGs" [activeEdges]="activeEdges"
          [activeGBs]="activeGBs" [deletedNodes]="deletedNodes" [deletedInterfaces]="deletedInterfaces">

        </app-info-panel>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
