.field {
  width: 100%;
}

.dhcp-field {
  width: 100%;
  padding-top: 13px;
}

.sub-title {
  padding-top: 10px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

mat-divider {
  padding-bottom: 15px;
}

::ng-deep div[data-lastpass-icon-root] {
  display: none;
}