<mat-toolbar color="primary">
  <span>Keromatsu</span>
  <a mat-button [routerLink]="routeSegments.DASHBOARD">Dashboard</a>
  <a mat-button [routerLink]="routeSegments.PROJECTS">Projects</a>
  <a mat-button [routerLink]="routeSegments.PREFERENCES">Preferences</a>
  <a mat-button [routerLink]="routeSegments.SECURITY">Security</a>
  <a mat-button [routerLink]="routeSegments.HELP">Help</a>
  <span class="menu-spacer"></span>
  <button mat-icon-button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
