$tool-panel-width: 300px;
$padding: 8px;

.tool-panel-actions {
    display: flex;
    justify-content: space-between;
    padding: $padding;
}

.tab-section {
    padding: $padding;
    width: calc($tool-panel-width - $padding*2);
}

.tab-field {
    width: 100%;
    margin: $padding 0;
}

.add-node-btn, .add-image-btn {
    width: 100%;
}

.tool-panel-pg-actions {
    display: flex;
    justify-content: space-between;
}

.add-pg-btn {
    width: calc(50% - $padding/2);
}