<section>
  <div class="tool-panel-actions">
    <button mat-mini-fab color="primary" matTooltip="Download" (click)="download()">
      <mat-icon>download</mat-icon>
    </button>
    <ng-template [ngxPermissionsOnly]="['can_write on Project']">
      <button mat-mini-fab color="primary" matTooltip="Save" (click)="save()">
        <mat-icon>save</mat-icon>
      </button>
    </ng-template>
    <button mat-mini-fab color="primary" matTooltip="Refresh" (click)="refresh()">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-mini-fab color="primary" matTooltip="Undo" (click)="undo()">
      <mat-icon>undo</mat-icon>
    </button>
    <button mat-mini-fab color="primary" matTooltip="Redo" (click)="redo()">
      <mat-icon>redo</mat-icon>
    </button>
    <button mat-mini-fab color="warn" matTooltip="Cancel" [disabled]="isDisableCancel" (click)="cancel()">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</section>
<section>
  <mat-tab-group>
    <mat-tab label="Edit">
      <app-tool-panel-edit [cy]="cy" [isDisableAddNode]="isDisableAddNode" [isDisableAddPG]="isDisableAddPG"
        [isDisableAddImage]="isDisableAddImage" [activeNodes]="activeNodes" [activePGs]="activePGs"
        [activeEdges]="activeEdges" [activeGBs]="activeGBs" [activeMBs]="activeMBs" [deletedNodes]="deletedNodes"
        [deletedInterfaces]="deletedInterfaces" [config]="config" [isDisableAddProjectTemplate]="isDisableAddProjectTemplate"
        [isDisableLinkProject]="isDisableLinkProject" [isDisableNewFromSelected]="isDisableNewFromSelected"
        [isTemplateCategory]="isTemplateCategory" [isAddNode]="isAddNode" [isAddPublicPG]="isAddPublicPG"
        [isAddPrivatePG]="isAddPrivatePG" [isAddMapImage]="isAddMapImage" [isAddProjectNode]="isAddProjectNode"
        [isAddProjectTemplate]="isAddProjectTemplate" [mapCategory]="mapCategory"
      >
      </app-tool-panel-edit>
    </mat-tab>
    <mat-tab label="Style" data-cy="tool-panel-style">
      <app-tool-panel-style [cy]="cy" [ur]="ur" [config]="config">
      </app-tool-panel-style>
    </mat-tab>
    <mat-tab label="Option">
      <app-tool-panel-option [cy]="cy" [config]="config"></app-tool-panel-option>
    </mat-tab>
    <mat-tab *ngIf="!isTemplateCategory" label="Remote">
      <app-tool-panel-remote [cy]="cy" [activeNodes]="activeNodes" [activePGs]="activePGs"></app-tool-panel-remote>
    </mat-tab>
  </mat-tab-group>
</section>
