<section>
    <div class="tool-panel-actions">
        <button mat-mini-fab color="primary" matTooltip="Download">
            <mat-icon>download</mat-icon>
        </button>
        <button mat-mini-fab color="accent" matTooltip="Save">
            <mat-icon>save</mat-icon>
        </button>
        <button mat-mini-fab color="primary" matTooltip="Refresh">
            <mat-icon>refresh</mat-icon>
        </button>
        <button mat-mini-fab color="primary" matTooltip="Undo">
            <mat-icon>undo</mat-icon>
        </button>
        <button mat-mini-fab color="primary" matTooltip="Redo">
            <mat-icon>redo</mat-icon>
        </button>
        <button mat-mini-fab color="warn" matTooltip="Cancel">
            <mat-icon>cancel</mat-icon>
        </button>
    </div>
</section>
<section>
    <mat-tab-group>
        <mat-tab label="Edit">
            <app-tool-panel-edit></app-tool-panel-edit>
        </mat-tab>
        <mat-tab label="Style">
            <app-tool-panel-style></app-tool-panel-style>
        </mat-tab>
        <mat-tab label="Option">
            <app-tool-panel-option [cy]="cy" [config]="config"></app-tool-panel-option>
        </mat-tab>
        <mat-tab label="Remote">Content 3</mat-tab>
    </mat-tab-group>
</section>