.field {
  width: 100%;
}

.category {
  width: 100%;
  align-items: center;
  margin: 8px 0;
  display: flex;
}

.category-group {
  width: 100%;
  display: flex;
  justify-content: center;
}

.category-label {
  width: 200px;
  font-family: sans-serif;
}

.label {
  font-family: sans-serif;
}

.category-items {
  margin: 0 8px;
}

.default-config-file {
  display: flex;
  justify-content: space-between;
}

.option-text {
  display: flex;
  align-items: center;
}

.login-profiles-option-text {
  line-height: normal;
}

.option-text-items {
  display: block;
}

::ng-deep div[data-lastpass-icon-root] {
  display: none;
}