<div class="show-connection-container">
  <mat-card class="show-connection-content">
    <mat-card-title class="show-connection-title">Connection Detail</mat-card-title>
    <mat-card-content>
      <form [formGroup]="connectionForm">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input type="text" formControlName="name" matInput readonly>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Category</mat-label>
          <input type="text" formControlName="category" matInput readonly>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Server</mat-label>
          <input type="text" formControlName="server" matInput readonly>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Cert File</mat-label>
          <input type="text" formControlName="certfile" matInput readonly>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Datacenter</mat-label>
          <input type="text" formControlName="dataCenter" matInput readonly>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Cluster</mat-label>
          <input type="text" formControlName="cluster" matInput readonly>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Data Store</mat-label>
          <input type="text" formControlName="dataStore" matInput readonly>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Switch</mat-label>
          <input type="text" formControlName="switch" matInput readonly>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Switch Type</mat-label>
          <input type="text" formControlName="switchType" matInput readonly>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>VM Management Network</mat-label>
          <input type="text" formControlName="managementNetwork" matInput readonly>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>User Name:</mat-label>
          <input type="text" formControlName="username" matInput readonly>
        </mat-form-field>
        <mat-card-actions [align]="'end'" class="create-btn">
          <button mat-raised-button color="primary" (click)="closePage()">Close</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>