<button mat-icon-button color="primary" [matMenuTriggerFor]="actionMenu">
  <mat-icon>add</mat-icon>
</button>
  <mat-menu #actionMenu="matMenu" yPosition="above">
    <button mat-menu-item (click)="addRouter()"><mat-icon>router</mat-icon>Add Route</button>
    <button mat-menu-item (click)="addFirewallRule()"><mat-icon>security</mat-icon>Add Firewall Rule</button>
    <button mat-menu-item (click)="openDomainMembership()"><mat-icon>domain</mat-icon>Add Domain Membership</button>
    <button mat-menu-item (click)="openRoleService()"><mat-icon>settings_system_daydream</mat-icon>Add Roles & Service</button>
  </mat-menu>
<button mat-icon-button color="primary" (click)="openConfigTemplate()">
  <mat-icon>visibility</mat-icon>
</button>
<button mat-icon-button color="primary" (click)="updateConfigTemplate()">
  <mat-icon>edit</mat-icon>
</button>
<button mat-icon-button color="primary" (click)="deleteConfigTemplate()">
  <mat-icon>delete</mat-icon>
</button>
