<button mat-icon-button [style.display]="tabName === 'domainUser' ? 'none' : ''" color="primary" (click)="viewInfoPanel()">
  <mat-icon>visibility</mat-icon>
</button>
<button mat-icon-button [style.display]="tabName === 'userTask' ? 'none' : ''" color="primary" (click)="editInfoPanel()">
  <mat-icon>edit</mat-icon>
</button>
<button mat-icon-button [style.display]="tabName === 'domain' ? '' : 'none'" color="primary" (click)="openDomainUsers()">
  <mat-icon>supervisor_account</mat-icon>
</button>
<button mat-icon-button color="primary" (click)="deleteInfoPanel()">
  <mat-icon>delete</mat-icon>
</button>

<div *ngIf="isLoading" class="loading">
  <mat-spinner></mat-spinner>
</div>
