<mat-card class="icon-gallery-container table">
  <mat-card-title class="table__title">Icons</mat-card-title>
  <div class="table__nav">
    <div class="table__nav--actions">
      <ng-template [ngxPermissionsOnly]="['can_write on Libraries']">
        <button mat-button mat-mini-fab color="primary" matTooltip="Add" (click)="addIcon()">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-button mat-mini-fab color="primary" matTooltip="Edit" (click)="updateIcon()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button mat-mini-fab color="primary" matTooltip="Delete" (click)="deleteIcon()">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-mini-fab color="primary" matTooltip="Import" (click)="importIcon()">
          <i class="fa fa-upload"></i>
        </button>
      </ng-template>
      <button mat-button mat-mini-fab color="primary" matTooltip="Export as JSON" (click)="exportJson()">
        <mat-icon svgIcon="export-json"></mat-icon>
      </button>
    </div>
  </div>
  <mat-card-content>
    <div class="select-all">
      <mat-checkbox color="primary" [(ngModel)]="checked" (change)="selectAll($event)"><strong>Select All</strong></mat-checkbox>
    </div>
    <mat-grid-list [cols]="cols" rowHeight="200px">
      <mat-grid-tile *ngFor="let icon of activePageDataChunk" [colspan]="1" [rowspan]="1">
        <mat-checkbox class="checkbox-icons" color="primary" [checked]="checked" (change)="getId(icon, $event)"></mat-checkbox>
        <mat-card (click)="showIcon(icon)"  class="icon-container">
          <mat-card-title class="icon-title">Icon</mat-card-title>
          <mat-card-content>
            <img [src]="ICON_PATH + icon.photo" width="50px" height="auto" alt="Photo">
          </mat-card-content>
          <mat-card-footer class="name-footer">
              <span><strong>Name</strong></span>
              <span class="icon-name">{{ icon.name }}</span>
          </mat-card-footer>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-paginator
                [length]="totalSize"
                [pageIndex]="pageIndex"
                [pageSize]="pageSize"
                [pageSizeOptions]="[5, 10, 25, 50, 100]"
                aria-label="Select page"
                (page)="onPageChanged($event)">
    </mat-paginator>
  </mat-card-content>
</mat-card>
