.info-panel-group {
  &.group-actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.add-group {
  margin: 8px;
}

::ng-deep .ag-header-cell-label {
  justify-content: center;
}
