.connection-container {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 15px;
  border: 2px solid #A9A9A9;
}

.connection-title {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
}

mat-form-field {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

label {
  font-size: 16px;
}

.section-option {
  max-width: 40%;
  display: flex;
  align-content: center;
  height: 60px;
  padding: 20px 0 0 10px;
}

.margin-button {
  margin: 0 40px;
  padding-bottom: 10px;
  font-size: 14px;
}

.form-option {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(0,0,0,.12);
  margin-bottom: 1.34375em;
  border-radius: 5px;
}

.hint {
  margin-bottom: 15px;
}

.field {
  width: 100%;
  align-items: center;
}

.info-group, .connect-parameters-group, .login-credential-group {
  margin-bottom: 8px;
}

.sub-title{
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #6C757D;
}

mat-divider{
  padding-bottom: 10px;
}

.cert-file {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 15px;
}

.show_file {
  max-width: 200px;
  border: 1px solid #a9a9a9;
  padding: 3px;
  border-radius: 3px;
}

.delete_file {
  padding-left: 10px;
}

.label-cert-file {
  flex: 1;
}

.input-cert-file {
  flex: 2;
  padding-bottom: 5px;
}

.file {
  padding-top: 5px;
}
