<form [formGroup]="serverConnectForm" (ngSubmit)="connectToServer()">
  <h1 mat-dialog-title>Connect to {{connectionServerName}} Server</h1>
  <div mat-dialog-content>
    <mat-form-field class="field">
      <mat-label>Server Connection</mat-label>
      <input type="text" matInput formControlName="serverConnectCtr" [matAutocomplete]="autoServerConnect">
      <mat-autocomplete #autoServerConnect="matAutocomplete" [displayWith]="helpers.optionDisplay">
        <mat-option *ngFor="let option of filteredServerConnect | async" [value]="option">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="serverConnectCtr?.errors?.required">{{ errorMessages.FIELD_IS_REQUIRED }}</mat-error>
      <mat-error *ngIf="serverConnectCtr?.errors?.isNotMatch">{{ errorMessages.OPTION_NOT_MATCH }}</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions [align]="'end'">
    <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
    <button mat-raised-button type="submit" color="primary" [disabled]="!serverConnectForm.valid">Connect</button>
  </div>
</form>
