$tool-panel-width: 300px;
$margin: 8px;

.remote-item {
  margin: $margin;
  width: calc($tool-panel-width - $margin*2);
  display: table;

  &__title {
    margin: $margin 0 $margin*2;
    text-align: center;
  }

  &__field {
    margin: $margin 0;
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;

    &--label {
      display: flex;
      justify-content: space-between;
      margin-right: $margin;
      width: 35%;
      text-align: left;
      font-weight: 600;
    }

    &--content {
      max-width: 65%;
      word-wrap: break-word;
      width: 190px;
    }
  }

}

.deployment {
  &--item {
    display: flex;
    align-items: center;
    .field {
      width: 75%;
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 35px;
      height: 30px;
      margin-left: calc($margin/2);
    }
  }
}
