<div class="btn-actions-group">
  <ng-template [ngxPermissionsOnly]="['can_write on Project']" [ngxPermissionsElse]="elseBlock">
    <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Clone" (click)="cloneNodes()">
      <mat-icon>file_copy</mat-icon>
    </button>
    <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Delete" (click)="deleteNodes()">
      <mat-icon>delete_forever</mat-icon>
    </button>
    <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Edit" (click)="editNodes()">
      <mat-icon>edit</mat-icon>
    </button>
  </ng-template>
  <ng-template #elseBlock>
    <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Clone" (click)="cloneNodes()" disabled="true">
      <mat-icon>file_copy</mat-icon>
    </button>
    <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Delete" (click)="deleteNodes()" disabled="true">
      <mat-icon>delete_forever</mat-icon>
    </button>
    <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Edit" (click)="editNodes()" disabled="true">
      <mat-icon>edit</mat-icon>
    </button>
  </ng-template>
  <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Export as CSV" (click)="exportNodes('csv')">
    <mat-icon svgIcon="export-csv"></mat-icon>
  </button>
  <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Export as JSON" (click)="exportNodes('json')">
    <mat-icon svgIcon="export-json"></mat-icon>
  </button>
  <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Validate" (click)="validateNode()">
    <mat-icon>check</mat-icon>
  </button>
  <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Clear Table" (click)="clearTable()">
    <mat-icon>clear</mat-icon>
  </button>
</div>

<div class="ag-theme-alpine info-panel-node" [style.height]="gridHeight">
  <ag-grid-angular style="width: 100%; height: 100%;" [gridOptions]="gridOptions" (gridReady)="onGridReady($event)"
    (rowSelected)="selectedRows()">
  </ag-grid-angular>
</div>
