$bg-img: url("/assets/images/login-page-bg.jpg");

.login-page {
  height: 100%;
  display: flex;
  justify-content: space-between;
  .left-panel {
    background-image: $bg-img;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(100% - 400px);
  }
  .right-panel {
    background: white;
    box-shadow: -1px 1px 6px black;
    width: 400px;
    height: 100%;
  }
}
