.info-panel-domain {
  &.domain-actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.add-domain {
  padding-left: 10px;
}

.btn-actions {
  border: 1px solid #ccc;
  padding: 0 5px 0 10px;
  margin: 8px 0;
}

::ng-deep .ag-header-cell-label {
  justify-content: center;
}
