<div class="btn-actions-group">
  <ng-template [ngxPermissionsOnly]="['can_write on Project']" [ngxPermissionsElse]="elseBlockAdd">
    <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Add new domain" (click)="addDomain()">
      <mat-icon>add</mat-icon>
    </button>
  </ng-template>
  <ng-template #elseBlockAdd>
    <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Add new domain" (click)="addDomain()" disabled="true">
      <mat-icon>add</mat-icon>
    </button>
  </ng-template>
  <ng-template [ngxPermissionsOnly]="['can_write on Project']" [ngxPermissionsElse]="elseBlockAddDomainUser">
    <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Create Users" (click)="addDomainUser()">
      <mat-icon svgIcon="add-user"></mat-icon>
    </button>
  </ng-template>
  <ng-template #elseBlockAddDomainUser>
    <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Create Users" (click)="addDomainUser()" disabled="true">
      <mat-icon svgIcon="add-user"></mat-icon>
    </button>
  </ng-template>
  <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="View domain user" (click)="openDomainUsers()">
    <mat-icon>supervisor_account</mat-icon>
  </button>
  <ng-template [ngxPermissionsOnly]="['can_write on Project']" [ngxPermissionsElse]="elseBlockEditDomain">
    <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Edit" (click)="editDomain()">
      <mat-icon>edit</mat-icon>
    </button>
  </ng-template>
  <ng-template #elseBlockEditDomain>
    <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Edit" (click)="editDomain()" disabled="true">
      <mat-icon>edit</mat-icon>
    </button>
  </ng-template>
  <ng-template [ngxPermissionsOnly]="['can_write on Project']" [ngxPermissionsElse]="elseBlockDeleteDomain">
    <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Delete" (click)="deleteDomain()">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </ng-template>
  <ng-template #elseBlockDeleteDomain>
    <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Delete" (click)="deleteDomain()" disabled="true">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </ng-template>
  <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Export as CSV" (click)="exportDomain('csv')">
    <mat-icon svgIcon="export-csv"></mat-icon>
  </button>
  <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Export as JSON" (click)="exportDomain('json')">
    <mat-icon svgIcon="export-json"></mat-icon>
  </button>
  <button class="btn-action-item" mat-button mat-mini-fab color="primary" matTooltip="Validate" (click)="validateDomain()">
    <mat-icon>check</mat-icon>
  </button>
</div>
<div class="ag-theme-alpine info-panel-domain" [style.height]="gridHeight">
  <ag-grid-angular style="width: 100%; height: 100%;" [gridOptions]="gridOptions" (gridReady)="onGridReady($event)"
                   [rowData]="rowData$ | async" (rowSelected)="selectedRows()">
  </ag-grid-angular>
</div>
