.info-panel-domain {
  height: 400px;
  &.domain-actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btn-actions {
  border: 1px solid #ccc;
  padding: 0 5px 0 10px;
  margin: 8px 0;
}

