<form [formGroup]="addTemplateForm" (ngSubmit)="addTemplateIntoCurrentProject()">
  <h1 mat-dialog-title>Add Project Template form</h1>
  <mat-dialog-content>
    <mat-form-field class="field">
      <mat-label>Template</mat-label>
      <input matInput
             placeholder="Select a template"
             formControlName="projectTemplateCtr"
             [matAutocomplete]="autoProjectTemplate"
      >
      <mat-autocomplete #autoProjectTemplate="matAutocomplete" [displayWith]="helpersService.optionDisplay">
        <mat-option *ngFor="let template of filteredProjectTemplates | async" [value]="template">
          <div class="template-option">
            <span class="template-option__text">{{ template.name }}</span>
            <span class="template-option__text">{{ template.description }}</span>
          </div>
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="projectTemplateCtr?.errors?.required">{{ errorMessages.FIELD_IS_REQUIRED }}</mat-error>
      <mat-error *ngIf="projectTemplateCtr?.errors?.isNotMatch">{{ errorMessages.OPTION_NOT_MATCH }}</mat-error>
    </mat-form-field>
    <div class="field">
      <mat-checkbox formControlName="isLayoutOnlyCtr" [labelPosition]="'before'">Layout Only</mat-checkbox>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button type="button" mat-dialog-close>Cancel</button>
    <button mat-raised-button type="submit" color="primary" [disabled]="projectTemplateCtr.invalid">Add</button>
  </mat-dialog-actions>
</form>
