<section class="tab-section">
  <div class="tab-field node-actions">
    <button mat-mini-fab class="node-action" color="primary" matTooltip="Increase Z-Index" (click)="increaseZIndex()">
      <mat-icon>text_increase</mat-icon>
    </button>
    <button mat-mini-fab class="node-action" color="primary" matTooltip="Decrease Z-Index" (click)="decreaseZIndex()">
      <mat-icon>text_decrease</mat-icon>
    </button>
  </div>
</section>
<mat-divider></mat-divider>
<section class="tab-section">
  <h4>Node</h4>
  <form [formGroup]="nodeAddForm" (ngSubmit)="addNode()">
    <mat-form-field class="tab-select-field">
      <mat-label>Device</mat-label>
      <input matInput type="text" placeholder="Select Device" formControlName="deviceCtr" [matAutocomplete]="autoDevice"
        (change)="changeDevice()">
      <mat-autocomplete #autoDevice="matAutocomplete" [displayWith]="helpers.optionDisplay"
        (optionSelected)="selectDevice($event)">
        <mat-option *ngFor="let option of devices" [value]="option">
          <div class="option-text">
            <img [src]="ICON_PATH + option.icon?.photo" height="24" width="24">
            &nbsp;
            <span>{{ option.name }}</span>
          </div>
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="deviceCtr?.errors?.isNotMatch">{{ errorMessages.OPTION_NOT_MATCH }}</mat-error>
    </mat-form-field>
    <mat-form-field class="tab-select-field">
      <mat-label>Template/Model</mat-label>
      <input matInput type="text" placeholder="Select Template/Model" formControlName="templateCtr"
        [matAutocomplete]="autoTemplate" (change)="changeTemplate()">
      <mat-autocomplete #autoTemplate="matAutocomplete" [displayWith]="helpers.templateDisplay"
        (optionSelected)="selectTemplate($event)">
        <mat-option *ngFor="let option of filteredTemplates" [value]="option">
          <div class="option-text">
            <img [src]="ICON_PATH + option.icon.photo" height="24" width="24">
            &nbsp;
            <span>{{ option.display_name }}</span>
          </div>
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="templateCtr?.errors?.isNotMatch">{{ errorMessages.OPTION_NOT_MATCH }}</mat-error>
    </mat-form-field>
    <div class="tab-field">
      <button mat-raised-button type="submit" color="primary" class="add-node-btn" matTooltip="Add" [disabled]="isDisableAddNode || !nodeAddForm.valid ">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="tab-field">
      <mat-checkbox formControlName="isCustomizeNodeCtr">Customize</mat-checkbox>
    </div>
  </form>
</section>
<mat-divider></mat-divider>
<section class="tab-section">
  <h4>Port Group</h4>
  <div class="tab-field pg-actions">
    <button mat-raised-button color="primary" class="add-pg-btn" matTooltip="Add Public" (click)="addPublicPG()"
      [disabled]="isDisableAddPG">
      <mat-icon>add</mat-icon>
      <span>Public</span>
    </button>
    <button mat-raised-button color="primary" class="add-pg-btn" matTooltip="Add Private" (click)="addPrivatePG()"
      [disabled]="isDisableAddPG">
      <mat-icon>add</mat-icon>
      <span>Private</span>
    </button>
  </div>
  <div class="tab-field">
    <mat-checkbox [(ngModel)]="isCustomizePG">Customize</mat-checkbox>
  </div>
</section>
<mat-divider></mat-divider>
<section class="tab-section">
  <h4>Images</h4>
  <mat-form-field class="tab-select-field">
    <mat-label>Image</mat-label>
    <input matInput type="text" placeholder="Select Image" [formControl]="mapImageCtr" [matAutocomplete]="autoImage">
    <mat-autocomplete #autoImage="matAutocomplete" [displayWith]="helpers.optionDisplay">
      <mat-option *ngFor="let option of mapImages" [value]="option"> {{ option.name }} </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="mapImageCtr?.errors?.isNotMatch">{{ errorMessages.OPTION_NOT_MATCH }}</mat-error>
  </mat-form-field>
  <div class="tab-field">
    <button mat-raised-button color="primary" class="add-image-btn" matTooltip="Add" (click)="addImage()"
      [disabled]="isDisableAddImage">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</section>
