$tool-panel-width: 300px;
$margin: 8px;

.tab-section {
    margin: $margin;
    width: calc($tool-panel-width - $margin*2);
    text-align: center;
}

.tab-select-field {
    width: 100%;
}

.tab-field {
    width: 100%;
    margin: $margin 0;
    align-items: center;
    display: flex;
}

.tab-field-btn {
    margin-left:auto;
    margin-right: 0;
}

.pg-actions {
    // display: flex;
    justify-content: center;
}

.node-actions {
    display: table-cell;
}

.node-action {
    margin: 4px;
}

.add-pg-btn {
    margin: 0 5px;
}

.option-text {
    display: flex;
    align-items: center;
}

.inline-select-field {
    width: 75%;
}

.add-inline-btn {
    margin-left: 5px;
}

.template-option {
  line-height: normal;
  &__text {
    display: block;
  }
}

::ng-deep div[data-lastpass-icon-root] {
    display: none;
  }
