.configuration-template {
  max-height: 85vh;
  &__field {
    background-color: #fff;
    padding: 8px 8px 0 8px;
    border-radius: 4px;
  }
  &__title {
    font: 500 15px/0px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
  }
  &__add {
    background-color: #fff;
    padding: 2px 8px 4px 8px;
    overflow-y: auto;
    max-height: 420px;
    height: 420px;
    ace-editor {
      height: 420px;
    }
  }
  &__edit {
    max-height: 485px;
    ace-editor {
      height: 485px;
    }
  }

}

.field {
  width: 100%;
  align-items: center;
}

::ng-deep div[data-lastpass-icon-root] {
  display: none;
}
