<form [formGroup]="configTemplateForm" (ngSubmit)="data.mode === 'add' ? addConfigTemplate() : updateConfigTemplate()">
  <div class="dialog-title">
    <h1 mat-dialog-title>{{ data.mode === 'add' ? 'Add Config Template' : data.mode === 'update' ? 'Edit Config Template' : 'Show Config Template' }}</h1>
    <ng-template [ngxPermissionsOnly]="['can_write on Libraries']">
      <button *ngIf="data.mode === 'view'" mat-icon-button color="primary" matTooltip="Edit" type="button" (click)="changeViewToEdit()">
        <mat-icon>edit</mat-icon>
      </button>
    </ng-template>
  </div>
  <mat-dialog-content class="configuration-template">
    <div class="configuration-template__field">
      <mat-form-field class="field">
        <mat-label>Name</mat-label>
        <input disableAutoFill type="text" formControlName="name" matInput [readonly]="isViewMode">
        <mat-error *ngIf="name?.errors?.required">{{ errorMessages.FIELD_IS_REQUIRED }}</mat-error>
        <mat-error *ngIf="name?.errors?.minlength || name?.errors?.maxlength">{{ errorMessages.RANGE_LENGTH_50 }}</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="data.mode === 'view'" class="field">
        <mat-label>Category</mat-label>
        <input disableAutoFill type="text" formControlName="category" matInput [readonly]="isViewMode">
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label>Description</mat-label>
        <input disableAutoFill type="text" formControlName="description" matInput [readonly]="isViewMode">
      </mat-form-field>
    </div>
    <section *ngIf="data.mode !== 'add'">
      <h3 class="configuration-template__title">Configuration</h3>
      <div [ngClass]="isViewMode ? 'configuration-template__add' : 'configuration-template__edit'">
        <div *ngIf="isViewMode">
          <ngx-json-viewer [json]="defaultConfig" [expanded]="true"></ngx-json-viewer>
        </div>
        <div [style.display]="isViewMode ? 'none' : 'block'">
          <ace-editor #editor></ace-editor>
        </div>
      </div>
    </section>
  </mat-dialog-content>
  <mat-dialog-actions [align]="'end'">
    <button mat-raised-button type="button" (click)="onCancel()">{{data.mode === 'view' ? 'Close' : 'Cancel'}}</button>
    <button *ngIf="data.mode !== 'view'" mat-raised-button color="primary" [disabled]="!configTemplateForm.valid">
     {{ data.mode === 'add' ? 'Create' : 'Update' }}
    </button>
  </mat-dialog-actions>
</form>
