<form [formGroup]="configForm">
  <h1 mat-dialog-title>Show Config Template</h1>
  <div mat-dialog-content>
    <mat-form-field class="field">
      <mat-label>Name</mat-label>
      <input type="text" formControlName="name" matInput readonly>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>Category</mat-label>
      <input type="text" formControlName="category" matInput readonly>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>Description</mat-label>
      <input type="text" formControlName="description" matInput >
    </mat-form-field>
    <div [hidden]="isShowConfig">
      <h3><strong><u>Static Routes</u></strong></h3>
      <ul>
        <li *ngFor="let value of staticRoles; let i = index">
          interface:<b>{{value.interface}}</b>, route:<b>{{value.route}}</b>, next_hop:<b>{{value.next_hop}}</b>
        <button id="static_route" mat-icon-button color="warn" (click)="edit(i, $event)"><mat-icon>delete</mat-icon></button>
        </li>
      </ul>
    </div>
    <div [hidden]="isShowConfig">
      <h3><strong><u>Domain Membership</u></strong></h3>
      <ul>
        <li>
          Join domain:<b>{{joinDomain}}</b>
          <button id="domain_membership" mat-icon-button color="warn" id="static_route" (click)="edit(0, $event)"><mat-icon>delete</mat-icon></button>
        </li>
        <li>
          OU Path - <b>{{OuPath}}</b>
          <button id="domain_membership"  mat-icon-button color="warn" (click)="edit(1, $event)"><mat-icon>delete</mat-icon></button>
        </li>
      </ul>
    </div>
    <div [hidden]="isShowConfig" class="firewall">
      <h3><strong><u>Firewall Rules</u></strong></h3>
      <ul>
        <li *ngFor="let value of fileWallRule; let i=index">
          [Name: {{ value.name }}, State: {{value.state}}, Action: {{ value.action }}, Interface: {{ value.interface}},
          Protocol: {{value.protocol}}, Source: {{value.source}}, Source Port: {{value.source_port}}, Destination: {{value.destination}},
          Destination Port: {{value.destination_port}}]

          <button id="firewall_rule" mat-icon-button color="warn" (click)="edit(i, $event)"><mat-icon>delete</mat-icon></button>
        </li>
      </ul>
      <ul>
        <li *ngFor="let value of fileWallPort; let i = index">
          [Name: {{ value.name }}, State: {{value.state}}, Interface: {{ value.interface}},
          Destination: {{value.destination}}, Destination Port: {{value.destination_port}}, 
          Target: {{value.target}}, Target Port: {{value.target_port}}]
          <button id="firewall_rule" mat-icon-button color="warn" (click)="edit(i, $event)"><mat-icon>delete</mat-icon></button>
        </li>
      </ul>
    </div>
    <div [hidden]="isShowConfig" class="roles-or-services">
      <h3><strong><u>Roles & Services</u></strong></h3>
      <ul>
        <li *ngFor="let value of rolesOrServices; let i = index">{{ value }}
          <button id="role_services" mat-icon-button color="warn" (click)="edit(i, $event)"><mat-icon>delete</mat-icon></button>
        </li>
      </ul>
    </div>
  </div>
  <div mat-dialog-actions [align]="'end'" class="create-btn">
    <button mat-raised-button type="button" (click)="onCancel()">Close</button>
  </div>
</form>
