<form [formGroup]="importForm" (ngSubmit)="importLookupFeatures()">
  <h1 mat-dialog-title>Import Lookup Features</h1>
  <div mat-dialog-content class="import-file">
    <input formControlName="fileCtr" type="file" name='file' (change)="onFileSelected($event)">
    <mat-error *ngIf="fileCtr?.hasError('isNotFile')">The imported file is invalid</mat-error>
    <label for="file">Import a lookup features from a JSON file</label>
  </div>
  <div mat-dialog-actions [align]="'end'" class="create-btn">
    <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!importForm.valid">
      Import
    </button>
  </div>
</form>