$tool-panel-width: 300px;
$margin: 8px;

.tab-section {
    margin: $margin;
    width: calc($tool-panel-width - $margin*2);
    text-align: center;
    display: table;
}

.tab-select-field,
.tab-field {
    width: 100%;
    align-items: center;
}

.tab-field {
    margin: $margin 0;
    display: flex;
}

.add-node-btn,
.add-image-btn {
    width: 100%;
}

.pg-actions {
    display: flex;
    justify-content: space-between;
}

.node-actions {
    display: table-cell;
}

.node-action {
    margin: 4px;
}

.add-pg-btn {
    width: calc(50% - $margin/2);
}