<mat-card class="table">
  <mat-card-title class="table__title">Lookup Features</mat-card-title>
  <div class="table__nav">
    <div class="table__nav--actions">
      <button mat-button mat-mini-fab color="primary" matTooltip="Add" (click)="addLookupFeatures()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-button mat-mini-fab color="primary" matTooltip="Edit" (click)="updateLookupFeatures()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-button mat-mini-fab color="primary" matTooltip="Delete" (click)="deleteLookupFeatures()">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-button mat-mini-fab color="primary" matTooltip="Export as JSON" (click)="exportLookupFeatures()">
        <mat-icon svgIcon="export-json"></mat-icon>
      </button>
      <button mat-button mat-mini-fab color="primary" matTooltip="Import" (click)="importLookupFeatures()">
        <i class="fa fa-upload"></i>
      </button>
      <!-- <button mat-button mat-mini-fab color="primary" matTooltip="Update Feature" (click)="updateFeature()">
        <mat-icon>edit_attributes</mat-icon>
      </button> -->
    </div>
    <div class="table__nav--search">
      <input
        matInput
        name="lookup-features-search" id="search-lookup-features"
        type="search"
        [(ngModel)]="quickFilterValue"
        placeholder="Search..."
        (input)="onQuickFilterInput($event)"
      >
    </div>
  </div>
  <mat-card-content class="table__content">
    <ag-grid-angular
      class="ag-theme-alpine"
      [pagination]="true"
      [paginationPageSize]="25"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="rowData$ | async"
      [rowSelection]="'multiple'"
      [suppressRowClickSelection]="true"
      [animateRows]="true"
      (gridReady)="onGridReady($event)"
      (rowSelected)="selectedRows()"
      (rowDoubleClicked)="onRowDoubleClicked($event)"
    >
    </ag-grid-angular>
  </mat-card-content>
</mat-card>
