$tool-panel-width: 300px;
$margin: 8px;

.tab-section {
    margin: $margin;
    width: calc($tool-panel-width - $margin*2);
    text-align: center;
}

.tab-select-field {
    width: 75%;
}

.tab-field {
    width: 100%;
    margin: $margin 0;
    align-items: center;
    display: flex;
}

.tab-select-btn {
    width: 20%;
    margin-left: 5px;
}

.control-label {
    font-size: 14px;
    // width: 15%;
    justify-content: left;
}

.slider {
    width: 70%;
    margin: 0 auto;
}

.color-picker {
    width: 30px;
    height: 30px;
    margin: 0 $margin*2;
    cursor: pointer;
    z-index: 1;
    &.mat-mini-fab {
      position: relative;
    }
}

.text-valign, .text-halign
.direction {
    display: flex;
    // justify-content: space-between;
}

.z-index {
    justify-content: center;
}

.z-index-btn {
    margin: 4px;
}

.position {
    display: inline-block;
    width: 45%;
    margin: $margin auto;
}

.button-group {
    margin: 0 auto;
}