<section class="tab-section">
  <mat-slide-toggle class="tab-field" labelPosition="before" [(ngModel)]="isEdgeDirectionChecked"
    (change)="toggleEdgeDirection()">Edge Direction</mat-slide-toggle>
  <mat-slide-toggle class="tab-field" labelPosition="before" [(ngModel)]="isGroupBoxesChecked"
    (change)="toggleGroupBoxes()">Group Boxes</mat-slide-toggle>
  <mat-form-field *ngIf="isGroupBoxesChecked" class="tab-select-field">
    <mat-label>Group Category</mat-label>
    <input matInput type="text" placeholder="Select Group Category" [formControl]="groupCategoryCtr"
      [matAutocomplete]="autoGroupCategory">
    <mat-autocomplete #autoGroupCategory="matAutocomplete" [displayWith]="helpers.optionDisplay"
      (optionSelected)="selectGroupCategory()">
      <mat-option *ngFor="let option of groupCategories" [value]="option">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-slide-toggle class="tab-field" labelPosition="before" [(ngModel)]="isMapGridChecked" (change)="toggleMapGrid()">
    Map Grid</mat-slide-toggle>
  <mat-slide-toggle *ngIf="isMapGridChecked" class="tab-field" labelPosition="before" [(ngModel)]="isSnapToGridChecked"
    (change)="toggleSnapToGrid()">Snap To Grid</mat-slide-toggle>
  <div *ngIf="isMapGridChecked" class="tab-field">
    <label>Grid Spacing</label>
    <mat-slider step="1" min="1" max="200" [(ngModel)]="gridSpacingSize" (change)="changeGridSpacingSize()">
    </mat-slider>
    <label>{{ gridSpacingSize }}px</label>
  </div>
  <mat-slide-toggle class="tab-field" labelPosition="before" [(ngModel)]="isMapOverviewChecked"
    (change)="toggleMapOverview()">Map Overview</mat-slide-toggle>
  <div class="tab-field">
    <button mat-raised-button color="primary" class="reinitialize-map-btn" (click)="reinitializeMap()">
      <mat-icon>restart_alt</mat-icon>
      <span>Reinitialize Map</span>
    </button>
  </div>
</section>