<div class="devices-template-container">
  <mat-card class="devices-container table" [class.large]="large" [class.small]="!large">
    <mat-card-title class="table__title">Devices</mat-card-title>
    <div class="table__nav">
      <div class="table__nav--actions">
        <ng-template [ngxPermissionsOnly]="['can_write on Devices']">
          <button mat-button mat-mini-fab color="primary" matTooltip="Add New Device" (click)="addDevices()">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-button mat-mini-fab color="primary" matTooltip="Edit Device" (click)="updateDevice()">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button mat-mini-fab color="primary" matTooltip="Delete Device" (click)="deleteDevice()">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-button mat-mini-fab color="primary" matTooltip="Import Device" (click)="importDevice()">
            <i class="fa-solid fa-upload"></i>
          </button>
        </ng-template>
        <button mat-button mat-mini-fab color="primary" matTooltip="Export Device as JSON" (click)="exportDevice()">
          <mat-icon svgIcon="export-json"></mat-icon>
        </button>
      </div>
      <div class="table__nav--search">
        <input
          matInput
          name="devicessearch" id="search-devices"
          type="search"
          [(ngModel)]="quickFilterValueDevices"
          placeholder="Search..."
          (input)="onQuickFilterInputDevices($event)"
        >
      </div>
    </div>
    <mat-card-content class="table__content">
      <ag-grid-angular #agGrid1
        class="ag-theme-alpine"
        [pagination]="true"
        [paginationPageSize]="25"
        [columnDefs]="columnDefsDevices"
        [defaultColDef]="defaultColDef"
        [rowData]="rowDataDevices$ | async"
        [rowSelection]="'multiple'"
        [animateRows]="true"
        (gridReady)="onGridReady($event)"
        (selectionChanged)="onSelectionChanged()"
        (rowSelected)="selectedRowsDevice()"
      >
      </ag-grid-angular>
    </mat-card-content>
  </mat-card>
  <div class="template-container" [hidden]="isHiddenTable">
  <mat-card class="table table--template">
    <mat-card-title class="table__title">Templates</mat-card-title>
    <div class="table__nav">
      <div class="table__nav--actions">
        <ng-template [ngxPermissionsOnly]="['can_write on Devices']">
          <button mat-button mat-mini-fab color="primary" matTooltip="Add New Template" (click)="addTemplate()">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-button mat-mini-fab color="primary" matTooltip="Edit Template" (click)="updateTemplate()">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button mat-mini-fab color="primary" matTooltip="Delete Template" (click)="deleteTemplate()">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-button mat-mini-fab color="primary" matTooltip="Import Template" (click)="importTemplate()">
            <i class="fa-solid fa-upload"></i>
          </button>
        </ng-template>
        <button mat-button mat-mini-fab color="primary" matTooltip="Export Template as JSON" (click)="exportTemplate()">
          <mat-icon svgIcon="export-json"></mat-icon>
        </button>
      </div>
      <div class="table__nav--search">
        <input
          matInput
          name="templatesearch" id="search-template"
          type="search"
          [(ngModel)]="quickFilterValueTemplates"
          placeholder="Search..."
          (input)="onQuickFilterInputTemplate($event)"
        >
      </div>
    </div>
    <mat-card-content class="table__content">
      <ag-grid-angular #agGrid2 id="ag-grid-template"
        class="ag-theme-alpine"
        [pagination]="true"
        [paginationPageSize]="25"
        [columnDefs]="columnDefsTemplate"
        [defaultColDef]="defaultColDef"
        [rowData]="rowDataTemplate$ | async"
        [rowSelection]="'multiple'"
        [suppressRowClickSelection]="true"
        [animateRows]="true"
        (gridReady)="onGridReady2($event)"
        (rowSelected)="selectedRows()"
      >
      </ag-grid-angular>
    </mat-card-content>
    <mat-card-actions align="end" class="btn-actions">
      <button mat-button mat-mini-fab color="primary" matTooltip="Close" type="button" (click)="closeTemplateTable()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
</div>

