$margin: 8px;

.devices-template-container {
  display: flex;
  position: relative;
}

.devices-container {
  resize: horizontal;
}

.table--template {
  width: 95%;
}

.template-container {
  width: 50%;
  margin-right: calc($margin*2);
}

.large {
  width: 80%;
}

.small {
  width: 45%;
}

.btn-actions {
  position: absolute;
  top: 0;
  right: 25px;
}
