@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url("assets/icons/material-icons.css");
@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-alpine.css';
@import 'cytoscape-context-menus/cytoscape-context-menus.css';
@import 'cytoscape-navigator/cytoscape.js-navigator.css';
@import 'cytoscape-panzoom/cytoscape.js-panzoom.css';
@import 'font-awesome/css/font-awesome.min.css';
@import '~ngx-toastr/toastr';
@import "~@ng-select/ng-select/themes/material.theme.css";
$tool-panel-width: 300px;
$margin: 8px;

.mat-tab-label {
    min-width: calc($tool-panel-width/4) !important;
    padding: 0 8px !important;
}

.cytoscape-navigator {
    top: 64px !important;
    width: 300px !important;
    height: 150px !important;
    z-index: 1 !important;
}

ul {
    margin-top: 0;
}

.cy-panzoom {
    position: relative;
    font-family: arial, helvetica, sans-serif;
    line-height: 1;
    color: #666;
    font-size: 11px;
    z-index: 99999;
    box-sizing: content-box;
    padding-top: 225px;
    bottom: 350px;
}

ag-grid-angular .ag-cell-focus,
.ag-cell {
    border: none !important;
}

.loading {
    position: fixed;
    z-index: 1001;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.field-checkbox {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.project-table {
  height: calc(100vh - 200px);
  text-align: center !important;
}

.content {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  box-shadow: 3px 6px 12px #a9a9a9;
}

.content-option {
  display: flex;
  flex-direction: column
}


/* Transparent Overlay */

.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.loading:not(:required) {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.rounded-circle {
  border-radius: 50%;
}

/* START TABLE STYLE COMMON */
.table {
  width: 80%;
  margin: 16px auto;
  box-shadow: 3px 6px 12px #a9a9a9 !important;

  // Table title
  &__title {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
  }

  // Table nav
  &__nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: $margin;

    // Actions button
    &--actions {
      padding: 0 5px 0 10px;
      margin: $margin 0;
      button {
        margin-right: $margin;
      }
      button:last-child {
        margin-right: 0;
      }
    }

    // Search input
    &--search {
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        height: 80%;
        padding: 0 calc($margin*2);
        border-radius: 5px;
        border: 1px solid #a9a9a9;
      }
      input:focus {
        outline: none;
        border-color: #719ECE;
        box-shadow: 0 0 calc($margin/2) #719ECE;
      }
      input::placeholder {
        color: #555;
      }
    }
  }

  // Table content
  &__content ag-grid-angular {
    height: calc(100vh - 240px);
    text-align: center;
    .ag-header-cell-label {
      justify-content: center;
    }
    .ag-cell-wrap-text {
      word-break: break-word;
    }
  }

}
/* END TABLE STYLE COMMON */
