@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url("assets/icons/material-icons.css");
@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-alpine.css';
@import 'cytoscape-context-menus/cytoscape-context-menus.css';
@import 'cytoscape-navigator/cytoscape.js-navigator.css';
@import 'cytoscape-panzoom/cytoscape.js-panzoom.css';
@import 'font-awesome/css/font-awesome.min.css';
@import '~ngx-toastr/toastr';
@import "~@ng-select/ng-select/themes/material.theme.css";
$tool-panel-width: 300px;
.project-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-tab-label {
    min-width: calc($tool-panel-width/4) !important;
    padding: 0 8px !important;
}

.cytoscape-navigator {
    top: 64px !important;
    width: 300px !important;
    height: 150px !important;
    z-index: 1 !important;
}

ul {
    margin-top: 0;
}

.cy-panzoom {
    position: relative;
    font-size: 12px;
    color: #faf;
    font-family: arial, helvetica, sans-serif;
    line-height: 1;
    color: #666;
    font-size: 11px;
    z-index: 99999;
    box-sizing: content-box;
    padding-top: 225px;
    bottom: 48px;
}

ag-grid-angular .ag-cell-focus,
.ag-cell {
    border: none !important;
}

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


/* Transparent Overlay */

.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.loading:not(:required) {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}