@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url("assets/fonts/material-fonts.css");
@import url("assets/icons/material-icons.css");
@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-alpine.css';
@import 'cytoscape-context-menus/cytoscape-context-menus.css';
@import 'cytoscape-navigator/cytoscape.js-navigator.css';

.project-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ag-theme-alpine {
    font-family: 'Source Sans Pro', sans-serif;
}