$margin: 8px;

.home-container {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  width: 550px;
  margin: 10px auto;
  text-align: center;
  height: auto;
  box-shadow: 3px 6px 12px #a9a9a9;
}

button {
  border: 1px solid;
  width: 100px;
  height: 100px;
  margin: 0 30px;
  line-height: 25px;
  font-size: 16px;
}

mat-card-title {
  font-weight: 500;
  font-size: 28px;
}

mat-card-subtitle {
  padding: 20px 0;
  color: black;
  font-size: 18px;
}

span {
  color:#007bff;
}

.btn-areas {
  margin-bottom: calc($margin*4);
}

.recent-project {
  margin: 0 calc($margin*2);
  &__title {
    text-align: left;
  }
  &__list {
    padding-left: calc($margin*3);
    margin-bottom: 0;
    .recent-project-item {
      text-align: left;
      margin-bottom: calc($margin*2);
      &__title {
        margin: 0;
        color: #235999;
        width: fit-content;
      }
      &__title:hover {
        cursor: pointer;
        color: #007bff;
      }
      &__desc {
        margin: calc($margin/2) 0;
        color: #717171;
        font-weight: 500;
      }
      &__subtitle {
        margin: calc($margin/2) 0;
      }
    }
  }
}

.no-recent-project {
  text-align: left;
}
