<div class="home-container">
  <mat-card class="home-content">
    <mat-card-title><span>C</span>yber <span>R</span>ange <span>O</span>rchestrator</mat-card-title>
    <mat-card-subtitle>Create or open a project to start.</mat-card-subtitle>
    <mat-card-content>
      <button mat-raised-button color="primary" [routerLink]="routeSegments.PROJECTS + '/add' "><p>Create a<br>Project</p></button>
      <button mat-raised-button color="primary" [routerLink]="routeSegments.PROJECTS">Open a<br>Project</button>
    </mat-card-content>
  </mat-card>
</div> 
