<div class="home-container">
  <mat-card class="home-content">
    <mat-card-title>Get Started</mat-card-title>
    <ng-template [ngxPermissionsOnly]="['can_read on Project', 'can_write on Project']">
      <!-- <mat-card-subtitle>Create or open a project to start.</mat-card-subtitle> -->
      <mat-card-content>
        <section class="btn-areas">
          <ng-template [ngxPermissionsOnly]="['can_write on Project']">
            <ng-template [ngxPermissionsOnly]="['can_read on Settings']">
              <button mat-mini-fab color="primary" [routerLink]="routeSegments.PROJECTS + '/add' "><mat-icon>create_new_folder</mat-icon></button>
            </ng-template>
          </ng-template>
          <ng-template [ngxPermissionsOnly]="['can_read on Project']">
            <button mat-mini-fab color="primary" [routerLink]="routeSegments.PROJECTS"><mat-icon>folder-open</mat-icon></button>
          </ng-template>
          <ng-template [ngxPermissionsOnly]="['can_write on Project']">
            <ng-template [ngxPermissionsOnly]="['can_read on Project']">
              <button mat-mini-fab color="primary" (click)="importProject()"><mat-icon>import_export</mat-icon></button>
            </ng-template>
          </ng-template>
          <p>Create a new, open or import a project to get started.</p>
        </section>
        
        <section class="recent-project" *ngIf="recentProjects.length >= 1">
          <mat-divider></mat-divider>
          <h3 class="recent-project__title">Open Recent</h3>
          <mat-list class="recent-project__list" *ngFor="let project of recentProjects">
            <mat-list-item class="recent-project-item">
              <mat-icon mat-list-icon>folder</mat-icon>
              <h4 mat-line class="recent-project-item__title" (click)="openProject(project.id)">{{ project.name }}</h4>
              <p mat-line class="recent-project-item__subtitle">{{ project.description }}</p>
            </mat-list-item>
          </mat-list>
          <!-- <ul class="recent-project__list" *ngFor="let project of recentProjects">
            <li class="recent-project-item">
              <div>
                <div class="recent-project-item__icon">
                  <mat-icon>folder</mat-icon>
                </div>
                <div>
                  <h4 class="recent-project-item__title" (click)="openProject(project.id)">{{ project.name }}</h4>
                  <h5 *ngIf="project.description" class="recent-project-item__desc">Description</h5>
                  <p class="recent-project-item__subtitle">{{ project.description }}</p>
                </div>
              </div>
            </li>
          </ul> -->
          <!-- <p class="no-recent-project" *ngIf="recentProjects.length === 0">You've not opened any projects!</p> -->
        </section>
      </mat-card-content>
    </ng-template>
  </mat-card>
</div>
