<mat-card class="content">
  <mat-card-title class="title">Project's Trash Bin</mat-card-title>
  <div class="sub-title">
    <div class="left">
      <button mat-button [matMenuTriggerFor]="actionMenu" class="actions">Actions
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #actionMenu="matMenu">
        <button type="button" mat-menu-item (click)="recoverProject()"><mat-icon>restore_from_trash</mat-icon>Recover</button>
        <button type="button" mat-menu-item (click)="permanentDeleteProject()" data-cy="btn-perdelete-project"><mat-icon>delete_forever</mat-icon>Permanent Delete</button>
      </mat-menu>
    </div>
  </div>
  <ag-grid-angular
    class="ag-theme-alpine project-table"
    [pagination]="true"
    [paginationPageSize]="25"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData$ | async"
    rowSelection="multiple"
    [animateRows]="true"
    (gridReady)="onGridReady($event)"
    (rowSelected)="selectedRows()" >
  </ag-grid-angular>
</mat-card>
