.field {
  width: 100%;
  align-items: center;
}

.invisible {
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
}

.ng-select-nodes, .ng-select-port-groups {
  font-family: 'Roboto', sans-serif;
}

::ng-deep .ng-placeholder {
  margin-top: 4px;
}

::ng-deep ng-dropdown-panel {
  position: relative !important;
}
