<form [formGroup]="groupAddForm" data-cy="groupAddForm" (ngSubmit)="data.mode === 'add' ? addGroup() : updateGroup()" autocomplete="off">
  <div class="dialog-title">
    <h1 mat-dialog-title>{{data.mode === 'add' ? 'Add New Group' : data.mode === 'update' ? 'Group Edit' : 'Group Info'}}</h1>
    <ng-template [ngxPermissionsOnly]="['can_write on Project']" [ngxPermissionsElse]="elseBlock">
      <button *ngIf="data.mode === 'view'" mat-icon-button color="primary" matTooltip="Edit" type="button" (click)="changeViewToEdit()">
        <mat-icon>edit</mat-icon>
      </button>
    </ng-template>
    <ng-template #elseBlock>
      <button *ngIf="data.mode === 'view'" mat-icon-button color="primary" matTooltip="Edit" type="button" (click)="changeViewToEdit()" disabled="true">
        <mat-icon>edit</mat-icon>
      </button>
    </ng-template>
  </div>
  <div mat-dialog-content>
    <mat-form-field class="field">
      <mat-label>Name</mat-label>
      <input autocomplete="off" id="group-name" matInput formControlName="nameCtr" placeholder="Name" [readonly]="isViewMode">
      <mat-error *ngIf="nameCtr?.errors?.required">{{ errorMessages.FIELD_IS_REQUIRED }}</mat-error>
      <mat-error *ngIf="nameCtr?.errors?.isExist">{{ errorMessages.GROUP_NAME_EXIST }}</mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-label>Category</mat-label>
      <input autocomplete="off" id="group-category" matInput type="text" placeholder="Select a category" formControlName="categoryCtr"
             [matAutocomplete]="autoCategory" [readonly]="isViewMode">
      <mat-autocomplete #autoCategory="matAutocomplete" [displayWith]="helpers.optionDisplay">
        <mat-option *ngFor="let option of filteredCategories | async" [value]="option" (onSelectionChange)="changeCategory($event)">
          <div class="option-text">
            {{ option.name }}
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field *ngIf="data.mode !== 'update'" [class.invisible]="isHiddenCategoryChild" class="field">
      <input autocomplete="off" id="group-categoryid" matInput type="text" [matAutocomplete]="autoCategoryChild" [readonly]="isViewMode"
             [placeholder]="categoryName" formControlName="categoryIdCtr">
      <mat-autocomplete #autoCategoryChild="matAutocomplete" [displayWith]="helpers.optionDisplay">
        <mat-option *ngFor="let data of filteredCategoryChild | async" [value]="data">
          {{ data.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field *ngIf="!isViewMode" class="field">
      <mat-label>Description</mat-label>
      <input autocomplete="off" id="group-description" matInput formControlName="descriptionCtr" placeholder="Description" [readonly]="isViewMode">
    </mat-form-field>

    <ng-select
      *ngIf="data.mode !== 'add'"
      class="ng-select-nodes"
      formControlName="nodesCtr"
      [items]="nodes"
      [multiple]="true"
      bindLabel="name"
      bindValue="id"
      placeholder="Nodes"
      [readonly]="isViewMode"
      >
    </ng-select>

    <ng-select
      *ngIf="data.mode !== 'add'"
      class="ng-select-port-groups"
      formControlName="portGroupsCtr"
      [items]="portGroups"
      [multiple]="true"
      bindLabel="name"
      bindValue="id"
      placeholder="Port Groups"
      [readonly]="isViewMode">
    </ng-select>

    <ng-select
      *ngIf="data.mode !== 'add'"
      class="ng-select-map-images"
      formControlName="mapImagesCtr"
      [items]="mapImages"
      [multiple]="true"
      bindLabel="name"
      bindValue="id"
      placeholder="Map Images"
      [readonly]="isViewMode">
    </ng-select>
  </div>

  <div mat-dialog-actions [align]="'end'">
    <button mat-raised-button type="button" (click)="onCancel()">
      {{data.mode === 'view' ? 'Close' : 'Cancel'}}
    </button>
    <button *ngIf="data.mode !== 'view'" mat-raised-button type="submit" color="primary"
            [disabled]="!groupAddForm.valid">
      {{data.mode === 'add' ? 'Add' : 'Update'}}
    </button>
  </div>
</form>
