<form [formGroup]="importForm" (ngSubmit)="importProject()">
  <h1 mat-dialog-title>Import Project</h1>
  <div mat-dialog-content class="import-file">
    <input formControlName="fileCtr" type="file" name='file' (change)="onFileSelected($event)">
    <label for="file">Import a project from a JSON file</label>
  </div>
  <div mat-dialog-actions [align]="'end'" class="create-btn">
    <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!importForm.valid">
      Import
    </button>
  </div>
</form>

<div *ngIf="isLoading" class="loading">
  <mat-spinner></mat-spinner>
</div>