.connection-container {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  border: 1px solid #dfdcdc;
}

.connection-table {
  height: calc(100vh - 230px);
  text-align: center !important;
}

.connection-title {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
}

::ng-deep .ag-header-cell-label {
  justify-content: center !important;
}

.btn-menu {
  border: 0.5px solid #a9a9a9;
  margin-left: 15px;
}

.sub-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.search {
  width: 250px;
  height: 100%;
  border: 2px solid #a9a9a9;
  border-radius: 5px;
}
