<mat-card class="table">
  <mat-card-title class="table__title">Template</mat-card-title>
  <div class="table__nav">
    <div class="table__nav--actions">
      <button mat-button mat-mini-fab color="primary" type="button" matTooltip="Edit" (click)="editTemplate()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-button mat-mini-fab color="primary" type="button" matTooltip="Delete" (click)="deleteTemplate()">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-button mat-mini-fab color="primary" type="button" matTooltip="Export as JSON" (click)="exportTemplate()">
        <mat-icon svgIcon="export-json"></mat-icon>
      </button>
    </div>
    <div class="table__nav--search">
      <input
        matInput
        type="search"
        [(ngModel)]="quickFilterValue"
        placeholder="Search..."
        (input)="onQuickFilterInput($event)"
      >
    </div>
  </div>
  <mat-card-content class="table__content_open">
    <ag-grid-angular class="ag-theme-alpine" [pagination]="true" [paginationPageSize]="25"
    [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [rowData]="rowData$ | async" rowSelection="multiple"
    (gridReady)="onGridReady($event)" (rowSelected)="selectedRows()" (selectionChanged)="onSelectionChanged()"
    (rowDoubleClicked)="onRowDoubleClicked()"></ag-grid-angular>
    <mat-card-actions align="end" class="open-btn">
      <button mat-raised-button [disabled]="isSubmitBtnDisabled" color="primary" (click)="openProject()">Open</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
