.field {
  width: 100%;
}

.icon {
  font-family: 'Roboto', sans-serif;
  color: #9c9898;
  font-size: 14px;
}

.show-photo {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}


.delete-file {
  padding-left: 5px;
}

::ng-deep div[data-lastpass-icon-root] {
  display: none;
}