<form [formGroup]="iconForm" data-cy="iconForm" (ngSubmit)="data.mode === 'add' ? addIcon() : updateIcon()" autocomplete="off">
  <div class="dialog-title">
    <h1 mat-dialog-title>{{ data.mode === 'add' ? 'Add Icon' : data.mode === 'update' ? 'Edit Icon' : 'Show Icon'}}</h1>
    <ng-template [ngxPermissionsOnly]="['can_write on Libraries']">
      <button *ngIf="data.mode === 'view'" mat-icon-button color="primary" matTooltip="Edit" type="button" (click)="changeViewToEdit()">
        <mat-icon>edit</mat-icon>
      </button>
    </ng-template>
  </div>
  <div mat-dialog-content>
    <mat-form-field class="field" *ngIf="data.mode === 'view'">
      <mat-label>Id</mat-label>
      <input type="text" formControlName="id" matInput>
    </mat-form-field>
    <div *ngIf="data.mode === 'view'" class="icon" >
      <div>Icon</div>
      <img [src]="ICON_PATH + url_default" width="90px" height="auto">
    </div>
    <mat-form-field class="field">
      <mat-label>Name</mat-label>
      <input autocomplete="off" id="icons-name" type="text" formControlName="name" matInput>
      <mat-error *ngIf="name?.errors?.required">{{ errorMessages.FIELD_IS_REQUIRED }}</mat-error>
      <mat-error *ngIf="name?.errors?.isExist">{{ errorMessages.NAME_EXISTS }}</mat-error>
    </mat-form-field>
    <mat-form-field class="field" *ngIf="data.mode === 'view'">
      <mat-label>Photo</mat-label>
      <input type="text" formControlName="photo" matInput>
    </mat-form-field>
    <div>
      <div [hidden]="isHiddenDeleteButton" *ngIf="!!url_default">
        <div class="show-photo">
          <img [src]="ICON_PATH + url_default" width="90px" height="auto">
        </div>
      </div>
      <input *ngIf="data.mode !== 'view'" formControlName="fileCtr" type="file" name='file' accept="image/*" (change)="onFileSelected($event)">
      <mat-error *ngIf="fileCtr?.hasError('isNotFile')">{{ errorMessages.IMAGE_FORMAT_FILE }}</mat-error>
      <mat-error *ngIf="fileCtr?.hasError('isNotMatchSize')">{{ errorMessages.IMAGE_SIZE }}</mat-error>
    </div>
  </div>
  <div mat-dialog-actions [align]="'end'" class="create-btn">
    <button mat-raised-button type="button" (click)="onCancel()">{{data.mode === 'view' ? 'Close' : 'Cancel'}}</button>
    <button *ngIf="data.mode !== 'view'" mat-raised-button color="primary" [disabled]="!iconForm.valid">
     {{ data.mode === 'add' ? 'Create' : 'Update' }}
    </button>
  </div>
</form>
